[2016-12-11 22:57] cniweb opened #5 "Integrate Documentation in openhab-docs"
Integrate Documentation about installation and configuration in https://github.com/openhab/openhab-docs

[2016-12-14 22:48] marziman opened #10 "Fix development config for local installation"
Local dev mode causes an error due to the config file

[2016-12-15 20:29] cniweb commented on #5
@marziman is the openHAB1 configuration the same as in my.openhab.org?
Must we integrate the old openHAB1 documentation:
https://my.openhab.org/docs
to the new?
here:
https://github.com/openhab/openhab-docs/tree/gh-pages/addons/io/openhabcloud
I can do it!

[2016-12-15 21:43] RyanRamchandar opened #12 "Docker image"
A docker image with all the necessary dependencies installed for you would be a great way to get up and running quickly.

[2016-12-15 21:52] marziman commented on #12
@RyanRamchandar,

yes we are already planning to create an image.
Thanks for your input

[2016-12-15 22:41] marziman commented on #5
@cniweb:
my.openhab.org/docs is deprecated. For OH1 there is this version:
OH1:
https://github.com/openhab/openhab/wiki/openHAB-Cloud-Connector

[2016-12-15 23:18] cniweb commented on #5
OK, but I think, we must add a little documentation page with link to OH1 and OH2 documentation!

[2016-12-16 07:54] kaikreuzer commented on #5
Guys, I think this issue is about the documentation of "setting up an openHAB Cloud instance" - I think the readme on this repo is just fine for that, I am not sure that it should be added to docs.openhab.org at all as it is something very specific.

Don't mix the documentation up with the cloud connector bundle, which is already in place (and will be used by 99% of the users for myopenHAB) and I

[2016-12-16 07:56] kaikreuzer commented on #5
This has actually been moved to http://www.myopenhab.org - but you can feel free to add parts from that to the README.md in this repo as well.

[2016-12-16 08:08] marziman commented on #5
@kaikreuzer ,
I may add some more infos about the whole E2E chain, after setup of an instance. Cause than you want to connect your device usually.
For the connector, I think the users will have difficulties with to places of docu for OH1 and OH2 cloud connector.

[2016-12-16 08:10] kaikreuzer commented on #5
What do you mean exactly? Finding the connector docs?

[2016-12-16 08:12] marziman commented on #5
@cniweb @kaikreuzer,
I will close this Issue and open a new one (for the extension of this docu with more infos about the connector), since we re not going to add this to docs.openhab.org? Do you agree?

[2016-12-16 08:14] marziman commented on #5
@kaikreuzer yes, but I recognized they are at the addons docu for both, the place to be.

[2016-12-16 08:16] marziman opened #13 "Extend docu for the E2E chain with OH Cloud Connector after setup of an instance"
We should extend the docu, showing the last steps for connecting your oh against your own instance.

[2016-12-17 23:03] marziman commented on #5
Closing this issue, since there is a new one for the extension regarding connector.

[2016-12-17 23:03] #5 closed

[2016-12-21 07:05] DanStasiak opened #18 "JSONObject["sitemap"] not a string"
I have the an error please help.

2016-12-20 21:02:54.444 [ERROR] [o.o.i.o.internal.CloudClient ] - JSONObject["sitemap"] not a string.

Anyone have a idea what could be wrong. It seems to happen at an update of item states to the myopenHAB Cloud.

I'm using/testing the version org.openhab.io.openhabcloud_1.9.0.201612192331.jar

[2016-12-22 09:41] marziman commented on #18
@DanStasiak,
hi what are you using? OH2 or OH1.
Can you explain a little your setup, that we are able to reproduce?

Thanks!

[2017-01-01 16:51] kaikreuzer opened #19 "login (e-mail address) should not be case sensitive"
There is a huge number of users that get the case wrong when trying to log in with their e-mail address.

As email addresses aren't case sensitive, it imho does not make sense to treat them as case sensitive on the login screen either - this change would for sure reduce the support efforts.

[2017-01-02 17:46] digitaldan opened #20 "Node goes to 100% cpu and stops accepting connections"
At some point the node process will eat up 100% of cpu and stop accepting new connections.  While load over time causes this to happen, high load itself is not the issue as restarting the process and taking on the previous load will clear the issue for a few days.

[2017-01-02 22:46] marziman commented on #18
@DanStasiak,
this is not an openHAB cloud issue.
See here https://github.com/openhab/openhab/issues/3772

I will close it here, since it should be tracked at the right spot.

[2017-01-02 22:46] #18 closed

[2017-01-02 22:48] marziman commented on #10
This is should be fixed with https://github.com/openhab/openhab-cloud/pull/21

I ve tested it several times locally with the dev config.

[2017-01-02 22:48] #10 closed

[2017-01-04 12:44] kirantpatil opened #22 "error: uncaughtException: Cannot find module './config.json'"
Hi,

I followed the Quickstart guide to install openhab-cloud on ubuntu 16.04. But I am getting below error while starting the app.

#### $ node --version
v0.10.48

#### $ sudo node app.js

2017-01-04T12:41:35.479Z - info: openHAB-cloud: Backend service is starting up...
2017-01-04T12:41:35.484Z - info: openHAB-cloud: Backend logging initialized...
2017-01-04T12:41:35.489Z - error: uncaughtExcepti

[2017-01-04 12:56] kirantpatil commented on #22
found answer in forum https://community.openhab.org/t/openhab-cloud-installation/18798/2

[2017-01-04 12:56] #22 closed

[2017-01-04 13:25] kirantpatil opened #23 "[development mode] error: uncaughtException: Cannot read property 'password'"
I copied config-development.json to config.json and tried to run the app and it results in below error.

$ sudo node app.js
2017-01-04T13:21:11.358Z - info: openHAB-cloud: Backend service is starting up...
2017-01-04T13:21:11.364Z - info: openHAB-cloud: Backend logging initialized...
2017-01-04T13:21:12.647Z - info: openHAB-cloud: Mailer will emulate sending in development environment
2017-01-04T1

[2017-01-04 17:28] marziman commented on #23
Please have little patience, this will be fixed with https://github.com/openhab/openhab-cloud/pull/21

[2017-01-05 04:50] kirantpatil commented on #23
There was no issue pertaining to this error, so I raised one.

Thank you.

[2017-01-10 13:17] kirantpatil opened #24 "Online link points to Event log and shows no events"
I clicked on "Online" link and it is pointing to "Event log" http://xx.xxx.x.xxx:3000/events?source=openhab and not showing any events.

If I click on "Event log" http://xx.xx.x.xxx:3000/events link, it shows events.

#### http://xx.xxx.x.xxx:3000/events?source=openhab
----
![screenshot from 2017-01-10 18 32 36](https://cloud.githubusercontent.com/assets/1178055/21807488/f859640c-d764-11e6-8993-a7

[2017-01-11 07:06] kirantpatil opened #25 "Event log shows all events for "Today" and "Last week""
When I click on "Today" or "Last week" UI show all events.

![screenshot from 2017-01-11 12 30 48](https://cloud.githubusercontent.com/assets/1178055/21838830/661246c2-d7fa-11e6-8340-7a0d7d0e4460.png)

[2017-01-11 07:27] marziman commented on #24
@kirantpatil this are different views. The one shows event log and the other one shows the "online" status in a similar view. But when you look at where, you see that the info differs. It works correct and show the "ONLINE STATUS". Can you please ask in the forum before, than we can clear these things before opening an item for it?
Iam closing this here an we can switch the discussion to forum if

[2017-01-11 07:27] #24 closed

[2017-01-11 07:51] kirantpatil commented on #24
Initially I thought of using forum, but felt could be issue so raised here.
Thank you.

[2017-01-11 07:51] marziman commented on #20
@digitaldan could this be in relation to how the app is started? I think if the app is started with NODE_ENV = development or not set, it will be automatically set to development, which could be the reason for eating up CPU due to highly fragmented functions activated at dev.

[2017-01-11 15:41] gmerlino opened #26 "Adding items does not work"
Per the subject, clicking on the button to add a new item (the blue + under "Configuration > New Item") does not work when working through the Cloud.

Doing the same operation directly on the OH2 instance works fine, so the setup of the snapshot should be ok.

Moreover, both instances (OH2 and Cloud) are in this case on my laptop (so this means localhost:8080 and localhost:3000, respectively).

[2017-01-11 23:38] Gibber opened #27 "iOS devices not showing up in the myopenHAB.org device list"
Ever since the change over to myopenHAB.org, my apple devices have not shown up in the devices list under my account. My android device shows up, and the apple devices all work fine through the remote URL. They just don't show up in the devices list. I tried uninstalling and reinstalling the app on a couple of the devices but that did not help. I am using iOS app version 1.7.4 on a couple of diffe

[2017-01-12 02:33] digitaldan commented on #27
Hi @Gibber thanks for the report, we have antoher user with the same issue, I will email him to join this thread so we can git it resolved. Thanks!

[2017-01-12 02:40] digitaldan commented on #26
I think i understand, when using our cloud service, in the "PaperUI" when you click  the "+" symbol to add a new item, it does not work correctly?  I tried this and the POST request seems to hang.

[2017-01-12 02:40] digitaldan commented on #25
Yep its a bug ;-)

[2017-01-12 02:44] digitaldan commented on #20
@marziman I'm not sure I understand what you mean? But we do run this with NODE_ENV = production, but I guess i don't know why running it =development would cause issues, have you seen this personally?

[2017-01-12 02:47] digitaldan commented on #19
Just for some context, this was hard to fix on our previous environment due to the older version of mongo we were running.  Since moving to updated infrastructure for myopenhab.org services we are on the latest version of mongo which should help solving this with along with a minimal amount of code changes.

[2017-01-12 07:11] netzlaff commented on #27
Hello,
I have the same problem. Dan has asked me to report here.
My iOS devices: iPhone 6 and 5S, iPad mini 2 (iOS 10.2 on all devices)
I can only see my iPad under Account / Devices. Broadcast-Notifications are sent to one device only, my iPhone 6.
Thanks for help.

[2017-01-12 21:22] digitaldan commented on #27
@Gibber can you email me  the email you used to register so I can look up your account?  Use support@myopnehab.org please.

@netzlaff it sounds like ios is not registering when connecting, can you confirm here what host you have in the "remote" field on the settings, can you also make sure there are no spaces at the beginning or end of that entry (we might have a bug there).

[2017-01-12 21:26] kaikreuzer commented on #27
You will have guessed yourself: It should read support@myopenhab.org :-)

[2017-01-13 07:35] netzlaff commented on #27
I've checked all my iDevices, Remote URL is: https://myopenhab.org
I can use my sitemap perfectly, only Notifications and the iOS Registration under my account dosen't work.

[2017-01-13 15:24] kaikreuzer opened #28 "If openHAB is offline, no link should be shown on the homepage"
At the moment, if your openHAB is offline (or has never been online), the "home" page shows:

<img width="943" alt="screen shot 2017-01-13 at 16 23 31" src="https://cloud.githubusercontent.com/assets/3244965/21935157/a8f0163c-d9ac-11e6-97eb-92e233f3188b.png">

MANY users are using openHAB 2, so this message is simply wrong and confusing - it should simply not be shown.

[2017-01-14 17:24] skatun opened #29 "Allow access to multiple instance"
It would be useful to have the possibility to have one account and several instances of OH(home, cabin, summerhouse etc..) and that all of them can communicate with each other and that the different sitemaps can be accessed within the same android app.

[2017-01-17 20:29] digitaldan opened #30 "Account page returns a 500 error for some users"
occasionally when a user creates an account, it does't get completely populated in mongo.   We have a "user" and "account" entry  but no entry in "openhabs" for them.  This is causing the account page to error.

[2017-01-17 20:33] digitaldan commented on #30
From the log file
[code]

[2017-01-19 19:21] tsheldon opened #31 "504 Gateway Time-out on REST PUT"
Summary:
Attempting to use the paper-ui remotely through myopenhab to modify a few channels, and it appears that most of the paper-ui works fine, except for PUTs.

Tried issuing the same post through the REST docs ui, but end up with the same response.

The paper-ui works fine when locally, so this appears likely to be bug with the routing rules between the nginx accepting frontend and whatever se

[2017-01-20 12:10] netzlaff commented on #27
Can i help to solve the problem?

[2017-01-28 19:38] #30 closed

[2017-01-29 08:28] tarlen commented on #27
I'm also seeing this issue. iPhone 6S and iPad Air 2, both on iOS 10.2.1, connecting to https://myopenhab.org/.

No items or devices are shown in the myopenhab.org interface, but using the iOS app, I can control my setup remotely.

[2017-02-01 09:56] tavalin opened #34 "Incorrect URL when listening for sitemap events"
I have a switch that is used to hide a sitemap frame.  When clicking it though openhab-cloud it didn't work.
I received the following error message in my web console:

`Firefox can't establish a connection to the server at https://home.openhab.org/rest/sitemaps/events/0982595d-9132-4bb5-800b-bacf5925cf96?sitemap=test&pageid=test.1smarthome.js:1:18688`

h

I assume the address should be `home.myope

[2017-02-01 12:48] hmerk opened #35 "Device Name not editable on Website"
I have several devices which broadcast the same hostname over the network and have no possibility to edit the name.
On myopenhab website, it is not possible to register more than one device under a specific name. Trying the "edit" button next to the "delete" button leads to "nothing".

[2017-02-02 06:15] helmar74 opened #36 "Getting frequently Disconnects and 504 Gateway-Timeout permanently"
Hi,

I've setup a new OH2 Installation and I installed the openhab cloud connector. After setting up connection to myopenhab.org I recognized that I get the following errors in /var/log/openhab2/openhab.log:

2017-02-02 06:56:45.312 [INFO ] [io.openhabcloud.internal.CloudClient] - Disconnected from the openHAB Cloud service (UUID = 9838aa4d-ec6b-44b6-ae07-5c4572300f7d, base URL = http://localhost:

[2017-02-02 09:46] helmar74 commented on #36
I found out, that more people are having this issue:
[https://community.openhab.org/t/myopenhab-org-down/21748/11]

[2017-02-02 12:58] kobelka commented on #36
I also got the same problem and when I try to log in the webinterface on myopenhab.org I get an 504 Time Out
And at the same time the status.openhab.org says everythings fine....

@digitaldan @kaikreuzer

[2017-02-02 13:11] kaikreuzer commented on #36
Note that this issue tracker is not for availability of the myopenhab.org server - it is about bugs in the behavior of the code. I do not actually see a bug report in here.

The availability issues are due to https://github.com/openhab/openhab-cloud/issues/20, which forces us to do a regular reboot. If any of you can help analysing that issue (we need a node.js expert here), please let us know.

[2017-02-02 13:11] #36 closed

[2017-02-02 15:14] digitaldan commented on #35
Yes, looking at the code I see this is not actually implemented, the button looks like a placeholder. Unless I have a volunteer to implement this feature I would advise to remove the button.

[2017-02-02 15:16] digitaldan commented on #34
Yes, I see where we missed this.  Thanks for the report.

[2017-02-02 15:23] hmerk commented on #35
Not what I wanted to read :-(

[2017-02-02 18:47] marziman commented on #20
Hi @MHerbst,
Thanks! I will take some time and investigate this deeper, since actually this issue it is causing reboots. I also looked into this:
https://github.com/sidorares/node-tick
I will inform about the progress..
BR Mehmet

[2017-02-03 20:13] MHerbst opened #37 "Change link to privacy policy"
The login page https://myopenhab.org/ contains a link to the privacy policy on www.openhabfoundation.org:
![image](https://cloud.githubusercontent.com/assets/616792/22606767/5f9e6de4-ea55-11e6-9ab5-284e558156b1.png)

Now www.myopenhab.org has its own privacy policy page and therefore it would be much better to use this page: http://www.myopenhab.org/privacy.

[2017-02-03 20:44] kbsprout commented on #27
Also seeing the issue. iPhone 6S on iOS 10.2. App connects to https://myopenhab.org:8443
My sitemap comes up and I can control devices, but when I log into https://myopenhab.org/devices from a regular browser I see no devices listed. On the App when I try looking at the App's Notifications tab, it is empty and hangs on a swipe-down refresh attempt.

[2017-02-03 21:27] kbsprout commented on #27
I don't know if someone just changed something, but my :8443 port stopped working so I tried a few things and removed the port number entirely. Now I can connect from the app to https://myopenhab.org and the Notifications pane is full of listings, and my device shows up on the website, and I even receive actual iOS popup notifications!    This is with both an iPhone6s and an older iPad, both runni

[2017-02-03 21:32] marziman commented on #37
Hi @MHerbst,

thanks but this is not a oh cloud issue, since this can be set in the config properties field under legal. Since myoh is a adjusted version of oh cloud, this should not be adressed here.

[2017-02-03 21:37] MHerbst commented on #37
Hi @marziman ,
Thank you for the information. That's the reason why I could not find the link text here.

[2017-02-03 21:37] #37 closed

[2017-02-04 11:50] ppyoosuf opened #38 "issue on windows"
i have configured every required application.but server not running

[2017-02-04 12:31] marziman commented on #38
Hello ppyoosuf,
if you have an issue please add some log and describe your problem more precise. Otherwise we cant really help.
If it is not an issue, more sth. like a setup problem etc. it is better to make a forum post. You will get help there: https://community.openhab.org
If you find issues or bugs or enhancements, feel free to add them here.
Thanks a lot!
BR Mehmet

[2017-02-04 12:31] #38 closed

[2017-02-04 14:54] ppyoosuf commented on #38
**this is my error

E:\yoosuf\Open HAB Sorces\openhab-cloud-master\openhab-cloud-master>node app.js
2017-02-04T14:40:01.543Z - info: openHAB-cloud: Backend service is starting up...
2017-02-04T14:40:01.562Z - info: openHAB-cloud: Backend logging initialized...
2017-02-04T14:40:01.979Z - error: uncaughtException: Cannot find module 'node-xmpp' date=Sat Feb 04 2017 20:10:01 GMT+0530 (India Standard

[2017-02-05 16:40] #28 closed

[2017-02-05 16:48] marziman commented on #19
This is fixed by ps://github.com/openhab/openhab-cloud/pull/32

[2017-02-05 16:48] #19 closed

[2017-02-05 16:49] #34 closed

[2017-02-05 16:51] marziman commented on #23
This should be fixed with [21](https://github.com/openhab/openhab-cloud/pull/21)

[2017-02-05 16:51] #23 closed

[2017-02-08 10:13] kirantpatil opened #40 "[Question] openhab-cloud for ESH"
Hi,

Is this project part of ESH ?

If not, then why is it still not part of ESH ?

Thanks.

[2017-02-08 10:13] #40 closed

[2017-02-09 12:42] kobelka opened #41 "myopenhab change uuid and secret after saving old value are shown"
I purged my old openhab version and installed a new one.
So I also have to change the uuid and secret in myopenhab.org.
After I have clicked Update the old values are shown again, also if you browse z.b. to events and back to account the old values are shown. Only if you logout and login again the new values where shown.

[2017-02-09 19:13] digitaldan commented on #41
FYI for anyone looking at the code, this is due to our mongoose caching, we update the value correctly but when the page loads again it uses the cached value.  We really don't need to be caching here anyways.

[2017-02-11 07:28] tarlen commented on #27
Okay, I believe I've figured out the problem.

I had the app set with a remote URL of `https://myopenhab.org/`, and when it started up, I was getting a 404 error connecting to `https://myopenhab.org//addAppleRegistration`.

Note the double slash after the domain name?

I changed the remote URL to `https://myopenhab.org` (no trailing slash), and now it's working. My device has appeared in the list,

[2017-02-11 09:08] Gibber commented on #27
Yep, that worked for me as well. Thanks!

[2017-02-11 09:08] #27 closed

[2017-02-11 09:46] netzlaff commented on #27
Not for me. In my Apps the URL is set to https://myopenhab.org without slash.

[2017-02-14 13:32] netzlaff commented on #27
Can anybody help me?

[2017-02-15 11:31] github-luckow-org opened #45 "absolute url in openhab-cloud/views/index.ejs"
Hi,

it's not the best idea to have an absolute url in

 /$DIR/openhab-cloud/views/index.ejs

Please change it to a relative url or use the base-url from config.json. Same for openHAB 1.x link.

[2017-02-16 03:34] digitaldan opened #46 "v7.5 issue with emails"
Sending emails does not work with 7.5, below is a error output

[code]

[2017-02-16 03:36] digitaldan opened #47 "v7.5 issue with error logger"
an error message is being thrown about logger.err not being a function, not sure what this is breaking (GCM functionality?) , but needs to be addressed.

[code]

[2017-02-16 15:12] digitaldan commented on #47
So this should be logger.error  not logger.err so thats any easy fix, but the question is why are we suddenly hitting this error statement now, where before we were not?

[2017-02-16 21:49] digitaldan commented on #46
A little digging shows this is being thrown by the built in path module in node.  It looks like a path at email-templates/lib/templateManager.js line 35 is undefined.  My first thought is to upgrade email-template to the latest version and see if that fixes it.

[2017-02-16 21:50] digitaldan commented on #47
I have a fix for this and will try it out soon on my own box, will require a GCM account to test

[2017-02-16 22:20] marziman commented on #47
ok thanks @digitaldan . Looks like a easy thing. Did you change on purpose the param to err instead of result. Why did we log the result before?

[2017-02-16 22:23] digitaldan commented on #47
Well, like I said it looks like we never threw an error before so this code was not being hit , but why would u print the result when it's the error u care about ? The result would most likely be null anyways.  So long answer to yes i did mean to change that

[2017-02-16 22:36] marziman commented on #47
Makes sense of course. I also gonna test now.

[2017-02-16 22:37] marziman commented on #46
Did you try this out? Should I check this?

[2017-02-16 22:38] digitaldan commented on #46
That would be great, I will work on the GCM issue since I think I will need to actually test notifications to make sure something is not broken there.

[2017-02-17 15:59] #47 closed

[2017-02-17 16:33] marziman commented on #46
Should be fixed with https://github.com/openhab/openhab-cloud/pull/49

[2017-02-23 16:23] ShaunCurrier opened #51 "In devices page, point user towards how to register a device"
Using a myopenhab.org URL as an example... https://myopenhab.org/devices

If you have no registered devices, the page only says,
"You currently have no devices registered with openHAB Cloud."
It is not clear how a device becomes registered.  I believe some users (me included) would expect registration to be done the system that is taking the registration, the cloud instance web site in this case.

[2017-02-26 10:42] Rtaxerxes opened #52 "iOS devices not registering on myopenhab.org"
I am having the same issues as #27. My iPhone 7 is on the list of devices, but it was attached to my.openhab.org before. My iPad Air won't register, and my wife's iPhone 6S, under a different user will also not register. I am able to view site maps remotely on all devices though.

Remote server is set to https://myopenhab.org. I've also noticed under Openhab info that the uuid and secret is not li

[2017-02-26 10:44] Rtaxerxes commented on #52
@netzlaff

[2017-02-28 11:13] marziman commented on #46
Fixed with https://github.com/openhab/openhab-cloud/pull/49

[2017-02-28 11:13] #46 closed

[2017-03-11 11:37] ryanrdetzel opened #58 "Can't access paperui"
Get an error

Cannot GET /paperui/index.html

[2017-03-12 10:35] kaikreuzer commented on #58
This definitely works. Try to ask for support at https://community.openhab.org/.

[2017-03-12 10:35] #58 closed

[2017-03-12 14:26] digitaldan commented on #58
Hi, try using https://home.myopenhab.org/paperui/index.html

[2017-03-12 14:34] ryanrdetzel commented on #58
Maybe I should have stated, "when you run your own instance it does not work"

[2017-03-15 21:20] medom commented on #12
has there been any progress on this subject yet? :)

[2017-03-15 21:44] marziman commented on #12
@medom,

we ve already started this and if you are a little patient and wait, there will be a docker image soon. At the moment there are some other urgent issues. I will keep you updated here..

BR Mehmet

[2017-03-17 14:13] kobelka opened #66 "Paper UI not working"
Hi,
I´ve installes an own Openhab Cloud but when I try to open PaperUI the following Error comes up:

[code]
Regards
Kobelka

[2017-03-17 14:15] kobelka opened #67 "Notifications on Habdroid not working"
With the openhab-cloud installed on my own server I get no notifications on the habdroid app anymore.
Regards
Kobelka

[2017-03-18 11:30] jblancoperez commented on #67
I have installed a new instance . I created a new firebase application. Changed the gcm id and secret in the server .

Compiled a new habdroid version with this new gcm id, but cannot make it work.

Server registers into gcm but no app appears I. The devices page.

I am missing something?

[2017-03-25 17:41] marziman commented on #66
@kobelka,
there is already a PR to solve this by configuration.
If you use myopenhab.org you should hit:
https://home.myopenhab.org/paperui/index.html
otherwise you need to access via:
https://your-OH-URL:port/paperui/index.html

In your comment it is not clear what you mean diectly. To access from browser, ohcloud ui ..?

[2017-03-27 19:16] snoekieboe commented on #66
@marziman, i think we are mixing things up here..

The problem we are talking about is not the incorrect URL but PaperUI not working even when the when you are forwarded to the correct URL .

In my case the paper ui logo is grey (ish) and refers to https://openhab.heerle.com/paperui/index.html but when clicking it throws " Cannot GET /paperui/index.html"  as an error.

All other UI's like basic, c

[2017-03-29 17:19] badplay opened #69 "Installing Problem on Ubuntu 14.04"
Hi

i am stack at : Now you need install git and clone the openHAB Cloud repository to your preferred directory (here: ubuntu) with the following commands:

apt-get install git
cd /home/YOUR-DIR/
git clone https://github.com/openhab/openhab-cloud.git

with terminal i made mkdir /home/ubuntu
then i go to cd /home/ubuntu/

then i use the git clone with root rights

this works but the next in the ins

[2017-03-29 17:45] badplay opened #70 "Installing OpenHAB CLoud on Qnap Nas with Ubuntu Linux Station"
I try to install and use your installation tut. but i get so many errors i cant set up so many things dont know how i can do it :( i am a noob at ubuntu

but i need open hub cloud for ifttt and amazon alexa

[2017-03-29 18:34] digitaldan commented on #70
Please use the hosted version at https://myopenhab.org , this is the source code for our service, but is only intended to be run by developers or advanced users that can setup their own cloud environment.

[2017-03-29 18:34] #70 closed

[2017-03-29 18:36] digitaldan commented on #69
Hi, as mentioned in another issue, this project is geared towards developers and advanced users, my guess is you want to use the hosted version at https://myopenhab.org which has IFTTT and Alexa integration (ifttt would not be easily possible on a self hosted version).

[2017-03-29 18:36] #69 closed

[2017-04-05 09:39] ranger36 commented on #67
Hi,

Been struggling with this myself. Everything running fine on own cloud server except from the google and ifttt notifications. Can anyone shed some light as to how to set this up?

thanks

[2017-04-05 14:11] digitaldan commented on #67
For IFTTT you will need to register with IFTTT as a service provider, I don't know if they do this for individuals, typically this is only for actual cloud providers (Smartthings, Amazon, openHAB Foundation, etc...).  If they do accept you into their program you will need to setup the oauth keys so your user(s) can link accounts.

Android notifications will require you to register a GCM key on you

[2017-04-05 14:13] digitaldan commented on #67
You will also need to change the code to detect your cloud URL otherwise it will not register, right now we are looking for myopenhab (or openhab.org, can't remember) in the remote URL.

[2017-04-05 14:30] hakan42 commented on #67
@ranger36 , maybe you could integrate with the Maker channel of IFFT?v

https://ifttt.com/blog/2015/06/introducing-the-maker-channel

[2017-04-05 15:04] ranger36 commented on #67
Fantastic Dan. Got the gcm working now by changing openhabmainactivity.java line 1201 to my own domain. Many thanks

[2017-04-05 15:43] marziman commented on #66
Testing this right now.

[2017-04-05 15:44] ranger36 commented on #67
@hakan42. Thanks for that. will have a look at it

[2017-04-05 16:07] marziman commented on #66
@snoekieboe,

you re right. I really mixed this up. I am just testing and merging this in.
Sorry and Thanks for your patience..
BR Mehmet

[2017-04-05 16:10] marziman commented on #66
Fixed with https://github.com/openhab/openhab-cloud/pull/73

[2017-04-05 16:10] #66 closed

[2017-04-05 16:11] marziman commented on #45
@github-luckow-org ,

thanks. There will be a config property for this the next days.
BR Mehmet

[2017-04-05 18:52] snoekieboe commented on #66
Thnx Marziman!!

[2017-04-08 22:32] koenbuyens opened #74 "Old password not required on password change"
Description:
 Password change should require the old password. Without the old password, an attacker who is able to execute an XSS attack (or with physical access to the computer) may be able to impersonate the user.

Steps to reproduce:
1. Authenticate.
2.  Go to <baseurl>/account
3. Enter the new password twice. Click on 'Change'.
4. Observe that the password has been successfully changed.

Miti

[2017-04-08 22:37] koenbuyens opened #75 "Improper password strength controls"
Description:
A strong password is a key requirement to protect against password guessing attacks. The application does not implement a strong password policy, as users can create an account with a password of one character.

Steps to reproduce (A):
1. Authenticate
2. Go to <baseurl>/account
3. Enter a new password of one character, e.g. 'a'.
4. Save
5. Logout
6. Authenticate with the same user and

[2017-04-08 23:02] koenbuyens opened #76 "User enumeration"
An attacker is able to enumerate usernames. This is one of the two pieces of information required to authenticate.

Steps to reproduce:
1. Go to <baseurl>/lostpassword
2. Enter an email address that does not exist.  Observe the error message.
![image](https://cloud.githubusercontent.com/assets/17049884/24833121/942c1506-1c8d-11e7-9414-c0aa71971c19.png)
3. Enter an email address that exists. Observ

[2017-04-08 23:09] digitaldan commented on #74
Hi @koenbuyens thanks, you are correct the app should require the old password on change

[2017-04-08 23:10] digitaldan commented on #75
Yes, that is troublesome, thanks for reporting.

[2017-04-08 23:11] digitaldan commented on #76
Yep, we should not be displaying separate messages.

[2017-04-08 23:11] #67 closed

[2017-04-09 01:16] koenbuyens opened #77 "Use secure random for oauth code generation"
For oauth, you generate the [authorization code](https://github.com/openhab/openhab-cloud/blob/master/oauth2.js#L44) and the [access token](https://github.com/openhab/openhab-cloud/blob/master/oauth2.js#L83) using [math.random](https://github.com/openhab/openhab-cloud/blob/master/oauth2.js#L198). As these numbers are used within a security context, they must be generated using a secure PRNG, such

[2017-04-09 01:30] koenbuyens opened #78 "OpenRedirect when obtaining an oauth2 authorization code"
Problem Description:
It seems that the redirectURI where the authorization code is delivered is not verified. This may lead to the following two problems:
- an attacker may obtain the authorization code by providing an uri to an attacker controlled domain. This code may be subsequently be exchanged for an access token (assuming that the attacker is able to obtain the client secret).
- an attacker

[2017-04-13 16:58] Frodo69 commented on #67
So for those looking to set up OpenHAB-Cloud notifications, here is a quick summary of what needs to be done.

Jid = Your_Sender_Key@googleapis.com
Password = server key
I don't know if the legacy server key will work, I used the server key from Firebase console, also make sure you use the keys on the "Cloud Messaging" tab!

Before compiling habdroid"
Change OpenHABMainActivity.java line 145 and 1

[2017-04-18 14:12] jblancoperez commented on #67
Working as expected after applying @Frodo69  procedure.

[2017-04-22 18:45] #76 closed

[2017-04-22 18:58] FlorianSW commented on #74
I'll take this one :)

[2017-04-22 19:13] #75 closed

[2017-04-23 15:00] #45 closed

[2017-04-25 20:58] FlorianSW opened #88 "rest API result returns https urls, even if http was used in the first place"
Given, that openhab-cloud is configured to listen on a tcp port 3000 for an IP address (or domain) using http, instead of https, a request to http://ip-address:3000/rest/sitemaps returns the list of sitemaps, however, the links to the sitemaps will use https:

`[{"name":"default","label":"My home automation","link":"https://192.168.178.27:3000/rest/sitemaps/default","homepage":{"link":"https://192

[2017-04-29 18:37] FlorianSW commented on #88
openHAB cloud addon for openHAB was merged, the issue is closed :)

[2017-04-29 18:37] #88 closed

[2017-05-01 14:30] #74 closed

[2017-05-01 16:01] FlorianSW opened #92 "New passsword does not work for login"
Found during code review of PR: https://github.com/openhab/openhab-cloud/pull/86

If the user changes the password using the change password funcionatlity of openhab-cloud, the password is changed successfully, however, the user can not login with this new password. Instead, the old password is still valid, until openhab-cloud is restarted or the cache period is exceeded.

Steps to reproduce:
1. R

[2017-05-01 17:22] #92 closed

[2017-05-01 17:43] marziman commented on #12
Hi,

I will update the state here. The initial PR is there:
https://github.com/openhab/openhab-cloud/pull/91
As soon I got the docu and the final review+meege I will notify and close this issue.
There is still some small nginx problem with css Iam struggling with.
BR Mehmet

[2017-05-01 20:04] FlorianSW commented on #35
What do you want to edit if you click on the edit button? Isn't the registration ID the unique identifier for the device, so why can't you add two devices out of the same network? :)

[2017-05-01 20:24] hmerk commented on #35
I have three devices of the same type, where I cannot edit their names.
This lead to the issue, only seeing the last registered one in myopenhab.

[2017-05-01 20:58] FlorianSW commented on #35
Hmm, even if I think it should be possible to have a custom name for a device (it shouldn't be customizable to edit the device model, of course, so it would be another field), it should already be possible to register several devices of the same type:
![image](https://cloud.githubusercontent.com/assets/4892966/25594623/a80f9174-2ec1-11e7-91b3-bb75b4ed45b7.png)

Do you get an error message or do yo

[2017-05-01 21:34] hmerk commented on #35
Those are Android devices and I just don't see two of them.

[2017-05-04 10:06] maurostaiti commented on #26
hi all
is this bug planned to be solved soon?
thanks in advance

[2017-05-04 18:54] FlorianSW opened #95 "openHAB considered offline for missing error handler in socket.io"
After some time, the following error messages occured in the openHAB-cloud log:
[code]
After that, the openHAB instance was considered as offline and won't come back online, until the app is restarted. I'm not sure, where the exact error comes from (so, why the openhab uuid does not match with the uuid of the request), however, the app shouldn't simply throw an unhandled error and stops working fo

[2017-05-06 09:47] marziman commented on #12
Solved by https://github.com/openhab/openhab-cloud/pull/91

[2017-05-06 09:47] #12 closed

[2017-05-06 13:23] FlorianSW commented on #29
Ok, that will be a bigger task, I'm happy to work on this, but I'm not sure, if I've enough time, and probably not enough understanding of the underlying infrastructure, yet, however, I hope I can get help, if I need it. But, I think we can't do this in one commit only and it will take some time to do all needed changes :)

[2017-05-12 08:46] kirantpatil commented on #13
Hi @marziman,

I would like to know whether openhab-cloud works with/supports ESH.

Have you tested it with ESH ?

I am raising it here, since I did not get any response from openhab-cloud developers at [community.openhab.org](https://community.openhab.org/t/openhab-cloud-for-esh/22384/2).

[2017-05-12 10:24] kirantpatil opened #99 "[Feature Request] Admin user interface to manager user account"
Hi,

Right we don't know, how many users registered in to the system using openhab-cloud.

It is better to add Admin user interface where he can Enable/Disable/Delete(Unregister) users, once user is registered.

Regards,
Kiran.

[2017-05-12 11:01] kirantpatil opened #100 "error: uncaughtException: Object function Object() { [native code] } has no method 'assign'"
Hi,

I updated the old code by git pull and did npm install, now I am getting below error.

$ node -v
v0.10.48

$ sudo node app.js

2017-05-12T10:51:41.798Z - info: openHAB-cloud: Backend service is starting up...
2017-05-12T10:51:41.805Z - info: openHAB-cloud: Backend logging initialized...
2017-05-12T10:51:42.297Z - error: uncaughtException: Object function Object() { [native code] } has no meth

[2017-05-12 11:13] marziman commented on #100
Please first ask in the community before opening issues. You re on the weong node version. Update to node 7.5.

[2017-05-12 11:13] #100 closed

[2017-05-12 11:44] kirantpatil commented on #100
Yes Sir, Thanks.

Now it works.

On Fri, May 12, 2017 at 4:43 PM, Mehmet Arziman <notifications@github.com>
wrote:

[2017-05-13 17:23] FlorianSW commented on #99
I think this is a reasonable request, however, allow me one question: How would an admin become an admin :D

[2017-05-13 17:26] FlorianSW commented on #41
This could be fixed with a proper way to invalidate the cache, like I requested here:
https://github.com/Gottox/mongoose-cache/issues/17

Until we've this feature, we probably really don't need to cache these values. Btw.: This is the second time, where the cache seems to break things (the first one was #92). Do we know if it is worse to use mongoose-cache that much?

[2017-05-13 20:22] marziman commented on #20
@digitaldan,
should we keep this issue and try to analyze? We are actually running under 90% CPU ..just wanted to ask if we should keep this issue as is?
Your nginx seperation helped alot from my point of view

[2017-05-13 20:27] marziman commented on #99
@kirantpatil,
its true we dont have an extra admin UI, which is not a bad idea.
But we have an script, which makes you "staff" and you see the amount of registered user, openhabs etc.
Please check the makeadmin script..I think that can serve your needs.

[2017-05-17 21:15] florianGapp commented on #31
I have a similar problem. I use openhab cloud behind a apache reverse proxy and when I watch the Networkcomunication with the firefox Developementtools I see this returned by the proxy for the PUT requests.

Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request PUT /rest/items/sss.

Reason: Error reading from remote server

[2017-05-18 19:48] florianGapp commented on #31
I have a similar problem. I use openhab cloud behind a apache reverse proxy and when I watch the Networkcomunication with the firefox Developementtools I see this returned by the proxy for the PUT requests.

Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request PUT /rest/items/sss.

Reason: Error reading from remote server

[2017-05-19 02:44] hoangtuansu opened #103 "The register form for new user doesn't show up"
Hello,

I'm new to Openhab Cloud and try to deploy one for my system. I followed the Installation instruction (and stop at step [Setting up Nginx]. From the log of my console, it seems that I don't have any issue. However, I also post it here if I am wrong.

My problem is that I don't see the registration form for new user when accessing to http://localhost:3000. Could someone please give me some

[2017-05-19 17:13] marziman commented on #103
@hoangtuansu,
welcome to openHAB! All looks fine, you need to activate the registration in the config.json which is false by default.
Please raise your ideas, problems etc first in the community forum at https://community.openhab.org
Iam closing this here.

[2017-05-19 17:13] #103 closed

[2017-05-23 09:09] marziman commented on #51
@ShaunCurrier
we have a PR for this in the making. Should be extended soon. Thanks for your help!
BR Mehmet

[2017-05-23 09:13] marziman commented on #41
I agree with you and we can remove the caching.

[2017-05-23 09:15] #41 closed

[2017-05-23 10:00] marziman commented on #95
@FlorianSW ,
I can't reproduce this. Can you please attach how you tested this.
It seems to be not a general problem and I am not sure if we just should remove the "null" -checks.
This seems to me a little like a problem with your uuid and propably your setup.
Can you provide more infos, cause I tried the same and after a while I never had this error. Not locally and haven't seen it on my test ins

[2017-05-23 10:11] marziman commented on #26
@maurostaiti
I will test this issue and get back soon. Sorry for the delay..

BR Mehmet

[2017-05-23 10:13] marziman commented on #35
Will look into this soon @hmerk and @FlorianSW and if missing trying to implement it.
Just have some other PRs in the first line before.

[2017-05-23 10:15] marziman commented on #20
@digitaldan I am closing this.
If it comes back as problem, we can reopen it? Actually the CPU behavior looks good after your tweaks. Hope this is ok for you.

[2017-05-23 10:15] #20 closed

[2017-05-23 19:38] FlorianSW commented on #95
So, my usual test case for that is the following: A local openhab-cloud instance, as well as a local openHAB installation. Linking both of course. Then accessing the web frontend (/start/index) and clicking on PaperUI (in my setup it will take some seconds before the PaperUI is fully loaded). During the load process (e.g. directly after clicking PaperUI) Ctrl + C the openhab-cloud process (the bro

[2017-05-24 06:23] petzlux commented on #31
Yep same behaviour when I try and do a put for example change config of a binding ....

[code]

[code]

[2017-05-26 00:18] andrewshilliday opened #104 "Timestamps on events (and elsewhere) are incorrect"
If you browse to https://myopenhab.org/events to view the list of events, it will show dates associated with the various events.  For example:
`Yesterday at 8:00 PM      Switch_OutsideGarageDoorLights      ON`

The "Yesterday" portion of the text is wrong.  In the above example, the event only happened 16 minutes ago (the current time is 8:16 PM EST).

I'm guessing that it has something to do with

[2017-05-27 17:21] #95 closed

[2017-05-30 13:29] #51 closed

[2017-05-31 04:15] fabito opened #107 "Add support for Google Assistant Integration"
Implement the endpoints needed for building Smart Home apps as specified here: https://developers.google.com/actions/smarthome/

Such an app would allow controlling openhab items thorough google assistants.

There is an example implementation here https://github.com/actions-on-google/actionssdk-smart-home-nodejs

[2017-05-31 06:54] marziman commented on #107
@fabito,
thank you! this is already in the making if you are a little patient. Needs a little time.
I will keep you updated here:
https://community.openhab.org/t/google-home-actions-api-now-available/17917/21

[2017-05-31 06:57] #107 closed

[2017-06-03 19:02] glesik opened #108 "Special characters in password cause login problems"
I have a password which contains characters (slashes, brackets, angle brackets, tildes and semicolons). Everything works fine when I login via https://myopenhab.org/, but when I use Android app or log out and go directly to the sitemap (e.g. https://home.myopenhab.org/basicui/app), the password is not accepted.

I created another user and set its password to only letters and numbers and it works f

[2017-06-11 14:48] FlorianSW commented on #108
Hmm, I can't reproduce this behaviour locally :/ It's possible that it is already fixed in the master version of openhab-cloud. I assume you simply get the login dialog again without any error message, right?

The second problem you describe is fixed by #92.

[2017-06-12 07:09] glesik commented on #108
Yes, the modal login window would just pop up again when using the problematic password.

Unfortunately I forgot to mention the colon symbol (":") in the password. I've just tried using password recovery and it looks like it's exactly the colon causing the trouble. Can this have something to do with "user:password" format in HTTP Basic Auth?

[2017-06-12 08:14] FlorianSW commented on #108
It shoudl work, as Basic auth allows colons in the password (at least from the RfC), however, there's an issue for the authentication module we use: https://github.com/jaredhanson/passport-http/issues/20 and a fix, which isn't merged, unfortunately. I'll ask there, if this issue will be fixed. If there's no response, I'll check, how we can work around this in our code :) Thanks for spotting!

[2017-06-19 11:48] petzlux commented on #31
This still doesnt work. Can someone tell us if this can get fixed, or even be reproduced by the devs?

[2017-06-29 06:43] petzlux commented on #26
is this the same issue as #31

[2017-07-09 07:26] longnight opened #111 "why does not app.js: notifyOpenHABOwnerOffline actually save offline status into db?"
https://github.com/openhab/openhab-cloud/blob/master/app.js#L127

Hi,
I have checkout this function, seens that it not do that save job right everytime. My openhab device alreay disconnected and shutdown, but in Cloud db its status is still "online".

[2017-07-09 08:19] longnight commented on #111
OK, I change `openhab.save` to `Openhab.findOneAndUpdate`, solved.

[2017-07-16 11:57] checkelmann opened #112 "Could not accsess https://home.myopenhab.org/start/index"
Hi,

I can log into https://myopenhab.org/ and my device appears online, but when I klick the Link (You are using openHAB 2.x. Click here to access your openHAB's dashboard) it returns a HTTP Status Code 500 with the message openHAB connection error: Connection refused.

Is the service operational? Because the status page shows no Incidents.

Regars,

Christian

[2017-07-16 14:14] digitaldan commented on #112
yes the service is operational, I'm not sure I have seen that error before however, has it worked before for you?

[2017-07-16 18:32] checkelmann commented on #112
Yes it was working like charm, I can see the errors also in my openhab.log

2017-07-16 13:56:27.619 [WARN ] [io.openhabcloud.internal.CloudClient] - Connection refused
2017-07-16 13:56:27.619 [WARN ] [io.openhabcloud.internal.CloudClient] - Connection refused
2017-07-16 13:56:32.998 [ERROR] [io.openhabcloud.internal.CloudClient] - Connection refused
2017-07-16 13:56:32.998 [WARN ] [io.openhabcloud

[2017-07-16 18:32] #112 closed

[2017-07-16 20:34] FlorianSW opened #113 "Smoke tests for openHAB-cloud"
In PR #97 and in some others I don't remember anymore, I made some changes and updated the PR with a merge of master and made a simple small mistake during the conflict resolution. While I would agree, that I would need to be more careful about these little kind of things (:P), I would love some smoke tests more :D

In my vision the tests would try to run app.js and look at any error message durin

[2017-07-16 20:46] digitaldan commented on #113
openHAB has both a TravisCI and cloudbees account for builds and testing,   if someone wants to tackle this I would be happy to get them access to one or both.

[2017-07-16 20:56] marziman commented on #113
@digitaldan & FlorianSW,

I was thinking about this also since long, but had a lot to do. I would tackle it after I finished the Google Home openHAB action (thats why I am a little quite :-) ).
So if you and @FlorianSW say yes, you can "assign" it to me.
@FlorianSW: Did I had any review open? I am in the believing I reviewed and merged the stuff?!

Br Mehmet

[2017-07-16 20:59] marziman commented on #13
I think this should be closed, since there is official docu about how to setup at docs.openhab.org.
Closing this!

[2017-07-16 21:00] #13 closed

[2017-07-16 21:02] FlorianSW commented on #113
From my point of view, the tests should be runnable on every system, so everyone would be able to setup the repo to allow running each kind of test (e.g. as an npm task or bundled with npm test). Afterwards we can take a look how and what tests we will run using Travis or Jenkins :)

@marziman I think there's no open PR that explicitly needs a review from you, except probably #98, however,  @digit

[2017-07-19 07:50] marziman opened #114 "Update current Nodejs for latest Security Fixes"
There is a new Security update for all Nodejs release lines. This update needs to be done to fix e.g. security vulnerabilities:
https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/

[2017-07-24 08:27] dk8pn opened #116 "[Feature Request] - openHAB2 trigger of the IFTTT realtime API"
openHAB2 should serve item states through myopenhab.org to the realtime API of IFTTT.
 A basic feature of connecting openHAB2 to IFTTT is already in place but IFTTT reacts after a large delay between 15 minutes up to 1 hour.

Desired application is as following: Alexa triggers an item state change "air conditioner ON/OFF" of "OFF/ON". openHAB2 tells IFTTT that this item changes its state from ON t

[2017-08-03 10:49] hakonrossebo opened #117 "Docker images not working"
The nodejs image seems to report issues with bcrypt versions in use. Does anyone else have this issue?

[2017-08-04 18:56] laohixdxm opened #118 "“Agreeing to terms and privacy policy is required ” issue while I register account"
1  “Agreeing to terms and privacy policy is required ” message pop up while I click "register" button.
![image](https://user-images.githubusercontent.com/6562792/28983025-a9031340-790c-11e7-9c40-0d05d703e3e6.png)

supposedly, there is a checkbox. But I can NOT see that as in myopenhab.org.
![image](https://user-images.githubusercontent.com/6562792/28982662-7edd0180-790b-11e7-8d1f-3b732de06c47.png)

[2017-08-05 20:33] marziman commented on #118
@laohixdxm ,

thank you very much. That was really introduced with that commit and I didnt expect that @FlorianSW did logical changes there. I guess this was unintentionally and we need to test more carefully at least the basic functionalities. Hopefully we will soon have some CI in place to find this small things. I took my a little time to find it, since it was some time ago.

Should be fixed wi

[2017-08-05 20:34] marziman commented on #118
@laohixdxm , small hint: Please try to not show your credentials..also UUID etc. for Security & Privacy reasons.

[2017-08-06 09:50] JeetTechie commented on #118
@marziman thanks! working perfect...

[2017-08-06 10:29] FlorianSW commented on #114
Hmm, this seems not to be an issue for openhab-cloud itself, right? We don't ship any nodejs version, and therefore do not need to update anything? :)

[2017-08-06 10:29] FlorianSW commented on #117
Can you post an error message or something? :)

[2017-08-06 11:56] marziman commented on #113
Closing this with https://github.com/openhab/openhab-cloud/pull/122
and opening other issues for the tasks

[2017-08-06 11:56] #113 closed

[2017-08-07 16:54] laohixdxm commented on #118
@marziman thanks. I will generate new uuid/secret.

[2017-08-08 08:00] hakonrossebo commented on #117
This is the log from app-1 after running docker-compose up:

<details>
λ docker-compose logs app-1
Attaching to app-1
app-1      | 2017-08-08T07:57:34.046Z - info: openHAB-cloud: Backend service is starting up...
app-1      | 2017-08-08T07:57:34.053Z - info: openHAB-cloud: Backend logging initialized...
app-1      | 2017-08-08T07:57:34.297Z - error: uncaughtException: Error relocating /opt/openhab

[2017-08-08 17:26] FlorianSW commented on #118
@marziman We could close this issue, now, right? :)

[2017-08-08 18:06] marziman commented on #118
Yes!

[2017-08-08 18:06] #118 closed

[2017-08-25 10:34] maurostaiti commented on #26
hi all
is this bug planned to be solved soon?
thanks in advance

[2017-09-03 15:33] marziman commented on #117
hi @hakonrossebo ,

this bcrypt is a real snake :-)
So I found that issue after searching some time. It is due to binary problems of Alpines used musl libc and was tricky, since it just popped up by "nothing".
Please update your oh-cloud project to the latest version and run docker-compose up as stated in the readme.

"Alpine linux based images use musl libc instead of the standard glibc and thus

[2017-09-03 15:42] #117 closed

[2017-09-03 15:46] marziman commented on #114
Partly true. It was a reminder to raise the node version due to the security patch.
In our docker image we ship a docker file with node, where I have raised the version aready.

[2017-09-03 15:46] #114 closed

[2017-09-03 15:48] marziman commented on #111
@longnight can you explain more what you did, so we can maybe add it if feasable.
I can create a PR if you tell me what you improved. Need to review it first...

[2017-09-04 05:48] hakonrossebo commented on #117
Thanks :)

[2017-09-06 12:37] mavris opened #125 "[Feature Request] 2-Step authentication for openHab Cloud"
Hi,
I am using openHab cloud in order to use Alexa's skill for openHab. Everything is working fine but I am feeling weird about the issue that anyone who can 'break' into my account could control my entire house. I think 2-step authentication is crucial for cloud.

[2017-09-06 17:48] PaulBaugher commented on #31
Looks like the culprit is the bodyParser in app.js ~ line 207
207> `//app.use(bodyParser.json()); /* comment this out */`

preassembleBody in routes/index.js is expecting events that are not firing, causing the timeout. Everything appears to be working in cursory testing!

[2017-09-06 18:20] marziman commented on #31
@petzlux,

I will take a look soon. Sorry was mad busy!
Thanks for being patient

[2017-09-06 18:31] PaulBaugher commented on #31
So just commenting that out only fixed the PUT and broke some other things. A workaround is to leave that line in app.js alone and to modify the /routes/index.js preassembleBody function. Prepend the following to the function body.

`    if (req._body) {
      req.rawBody=JSON.stringify(req.body);
      next();
      return;
    }
`

A more long term solution would be to probably just use the body

[2017-09-08 03:16] longnight commented on #111
Hi,  @marziman:

  I thought it just a mongodb/mongoose  problem,

What I did is change
``` openhab.save(function (error) { ... } ```

to

```  Openhab.findOneAndUpdate({"_id": openhab.id}, ...)  ```

to make db updated.(It not worked before.)
.

[2017-09-14 09:35] skatun opened #126 "Running two instances connected to the same openhab-cloud"
Today we can run two instances of OH against the openhab-cloud only if we copy the secret UID too both instances and all items on both instances exposed to the openhab-cloud needs to be unique.

It would be nice if we could have two secret UID linked to one account:

https://community.openhab.org/t/multiple-sitemaps-on-different-devices/18799/11

[2017-09-22 13:21] mavris opened #127 "Can't access dashboard or community"
Dashboard or community.openhab.org fail with error 504 Gateway Time-out.
Is it only me?

[2017-09-22 13:31] kaikreuzer commented on #127
Please don't use the issue tracker here, but check http://status.openhab.org/ to find the answer.

[2017-09-22 13:31] #127 closed

[2017-09-22 14:08] mavris commented on #127
sorry I wasn't aware. Thank you

[2017-09-22 14:14] kaikreuzer commented on #127
Sorry for the inconvenience - @marziman and @digitaldan are working hard on resolving the issues! (I already failed...)

[2017-09-28 19:02] btrebor opened #128 "new openhab install--unable to make changes via https://home.myopenhab.org"
I just installed openhab2 on Raspberry Pi 3. When connected to lan I can connect to my R-Pi via IP address and makes changes (i.e., adding bindings, editing configurations, etc.). when off my lan and using internet elsewhere, I am unable to make changes to my openhab. I can log into my openhab via myopenhab, it shows I am online, I can see my existing bindings, items, etc, but I am not able to add

[2017-09-29 03:57] btrebor commented on #128
I re-installed openhab2 on the Raspberry Pi 3 to make sure it wasn't a faulty install. Same issue.

[2017-09-29 08:24] sihui62 commented on #128
I can confirm this issue, build #1050.

Related community forum thread:

https://community.openhab.org/t/new-raspberry-pi-install-myopenhab-error-504/34581

[2017-09-29 16:05] tsheldon commented on #128
Looks like this is a duplicate of https://github.com/openhab/openhab-cloud/issues/31

[2017-09-29 16:12] marziman commented on #128
Hello,
I will investigate this the upcomming days.
It is a duplicate and I hope we can fix this soon.
I will close this for now and track it at the other issue.
BR Mehmet

[2017-09-29 16:12] #128 closed

[2017-09-30 13:01] ThomDietrich opened #129 "myopenhab.org registration guidance"
Hey all,
I've registered with myopenhab.org today and want to post a few notes I took during the process. Sorry for misusing the openhab-cloud repo for that.

I directly went to https://myopenhab.org/login and was confronted with fields for "openHAB UUID & Secret"... now of course I know what these are but others will not. There should be a short introduction next to the fields explaining what to

[2017-10-24 08:32] kirantpatil opened #130 "[FAQ] Monitoring and Analytics"
Hi,

I saw the "Monitoring and Analytics" module in the architecture.

May I know if there is any tentative plan for this ?

Are you planning to use Python Machine Learning for analytics or something else ?

Thanks.

[2017-10-24 15:24] ThomDietrich commented on #129
@marziman 👋  friendly ping

[2017-10-24 19:09] marziman commented on #129
Hi @ThomDietrich,

I agree om your points.
Let me track that here and put it into the „Backlog“. I will get back to it, after we roll good with the Google Assistant. But in Summary you re right. Those are low hanging fruits, but really important.
I will try soon to polish it somehow.

BR Mehmet

[2017-10-24 19:11] marziman commented on #125
Hi,
That s a good idea.
Donyou have any idea or special proposal.
If not I would check how we could introduce that.

Thx & BR
Mehmet

[2017-10-24 19:14] marziman commented on #126
Hi,

we already working on this. I will soon try to ping Florian to continue this PR: https://github.com/openhab/openhab-cloud/pull/98
Hopefully he will find time for it to finish the PR.

BR Mehmet

[2017-10-29 15:13] jmccoy555 opened #131 "Docker compose - Cannot find module './system'"
Hi, I think there may be an issue with docker. I've pulled the git directory copied and updated the config.json and then run docker compose but get the following;

app-1      | 2017-10-29T15:09:43.401Z - error: uncaughtException: Cannot find module './system' date=Sun Oct 29 2017 16:09:43 GMT+0100 (CET), pid=1, uid=100, gid=65533, cwd=/opt/openhabcloud, execPath=/usr/bin/node, version=v7.10.1, arg

[2017-11-17 12:54] WolfspiritM opened #133 "Add a way to create own OAuth applications"
Hello,

I'm looking for a way to create own applications that can retrieve oauth2 tokens to create custom skills for alexa for example (or other cloud based services). It seems like the API allows basic auth but I don't feel good storing the password directly.

I couldn't find any way to create own custom OAuth Clients besides creating my complete own myopenhab instance. Is it possible something l

[2017-11-20 15:47] mahonni commented on #31
I also have the same issue, with RPI3 + clean openhabian. I basically can't do anything that requires saving (like changing configuration) through myopenhab. Directly through http://openhabianpi:8080 it works perfectly.

Isn't it happen to everyone? Looks kind of a big issue to me :S...

[2017-11-21 09:46] ehorohorin commented on #107
Any updates on this? Many thanks

[2017-11-23 15:41] paulianttila opened #134 "Connection error recovery failed"
Connection to cloud failed yesterday (22.11.2017) and remote connection didn't work even binding claims that connection is open.

I stopped and started Cloud Connector Bundle manually 2017-11-23 17:13:XX and now remote connection works again.

All cloud related logs:
[code]

From Cloud events
[code]

[2017-11-25 09:34] ptee132 commented on #134
similar problem here:
`2017-11-25 10:28:27.468 [ERROR] [io.openhabcloud.internal.CloudClient] - Socket.IO error: io.socket.engineio.client.EngineIOException: xhr poll error
2017-11-25 10:28:27.478 [INFO ] [io.openhabcloud.internal.CloudClient] - Disconnected from the openHAB Cloud service (UUID = 01a9e9cf-905a-485b-8629-7576b8a822da, base URL = http://localhost:8080)`

and after a while:
`2017-11-

[2017-11-25 09:58] Pavion commented on #134
Same error here with first regular occurrence about six hours ago.
Trying to access my openHAB server through openHAB Cloud results in **502 Bad Gateway**.
Already reinstalled cloud service, checked secret keys, restarted openHAB, to no avail.
Wish you good luck with finding the error!
Best regards
Pav

[2017-11-25 10:11] antares2001 commented on #134
There's a discussion going on at https://community.openhab.org/t/openhab-2-losing-cloud-connection/36550/8 describing the error.

There's also an SSL certificate validation error for www.myopenhab.org which uses a wrong certificate.

[2017-12-09 14:50] mrehker opened #136 "Trigger on "Item state change (to anything)""
The current trigger "Item state change (to defined value)" is difficult to use, if you want for example to use have values from openHab written somewhere else. Would it be possible to add another trigger "Item state change (to anything)"?

[2017-12-23 12:14] lsafelix75 opened #139 "ForbiddenError: invalid csrf token for HTTP POST"
Hi,

I am writing a custom UI plugin that requires authentication with HTTP POST (access via OpenHab Cloud Dashboard). However, when i click on submit (POST), it causes OpenHab Cloud's to return the following error.

ForbiddenError: invalid csrf token
    at csrf (/var/www/xxx/openhab-cloud/node_modules/csurf/index.js:112:19)
    at /var/www/xxx/openhab-cloud/app.js:245:9
    at Layer.handle [as h

[2017-12-23 12:36] #139 closed

[2017-12-24 09:35] lsafelix75 opened #140 "ForbiddenError: invalid csrf token for HTTP POST"
Hi,

I am writing a custom UI plugin that requires authentication with HTTP POST (access via OpenHab Cloud Dashboard). However, when i click on submit (POST), it causes OpenHab Cloud's to return the following error. I i trace further i realise that i something was not right at the following code on "./node_modules/csurf/index.js". In fact value(req) is always NULL. Wondering whether there are some

[2017-12-27 07:14] Stefan300381 opened #141 "Readme.html typo (openhabcloud directory)"
The Readme file says that the clone directory is named openhabcloud, but it's openhab-cloud

[2017-12-27 07:32] Stefan300381 commented on #22
Hi,

in deed config.json does not exist after cloning from git. This should be mentioned in the Readme

[2017-12-28 00:30] #140 closed

[2017-12-28 08:18] lsafelix75 opened #142 "Proposed Universal Way to Handle HTTP POST Body"
Just a suggestion to handle Custom UI that requires HTTP POST with JSON/URLENCODED body content, as current implement  hangs on /routes/index.js Routes.prototype.preassembleBody() due to body-parser.json(), body-parser.urlencoded() consumes request body stream

Change the followings:
Current (/app.js:
[code]
Proposal:
[code]
Current (/routes/index.js:
[code]
Proposal:
[code]

[2017-12-31 13:54] spacemanspiff2007 commented on #31
Same behaviour as @mahonni  with RPI3 + clean openhabian. No further proxies. Cost me two hours today. :-(

[2018-01-06 01:54] lsafelix75 opened #143 "Handling Custom Websocket Request for Custom UI"
Hi

I managed to make some changes to Openhab Cloud code and Connector in order to handle external Websocket requests for 3rd party WebGUI such as NodeRed. I'm not sure whether OpenHab is keen in this direction. From my stand point, i feel that this is necessary since we can develop our own UI (that incorporate any web technologies) and OpenHab rule engine is still in infant stage and not user fri

[2018-01-12 18:52] ThomDietrich commented on #129
Bonus: The email provided for login is evaluated case-sensitive when it shouldn't...

[2018-01-16 00:22] marziman commented on #141
Thanks. Fixed.

[2018-01-16 00:35] #141 closed

[2018-01-16 18:40] flaviodexter opened #147 "401 http error while trying to connect via android app"
Hi there, I've installed and configuredOH 2.0 on my mobile device one year ago.
After months of inactivity I've turned my raspberry on and updated to OH2.2
Everything works but I'm not able to use the android app. I now get a 401 error (unable to login)

If I log in https://myopnehab.org with my user and password I can login (firefox on win7 64bit) on my android I get push notifications when raspb

[2018-01-17 17:03] bergminze commented on #125
A very relevant objection by mavris!

What about certificate based PKI authentication?
Managing openHAB from the several devices (Android etc.) connected to the openHAB cloud (by openHAB cloud connector) should only be possible with "certificate registered, known, valid and authorized" clients.

With this approach, for example when connectect by web browser to the dashboard (HABPANEL, BasicUI) ove

[2018-01-20 00:29] holmes opened #149 "Error running npm install: `error: use of undeclared identifier 'daylight'`"
I'm trying to set up a local instance of openhab cloud so I can do some google home integration but I'm running into a slew of problems.

I'm hosting this on a FreeBSD jail which but I've got is mostly working. I've gotten to the point where I need to run `npm install` but I'm running into 2 compilation errors in the time library.

[code]

Here's the full build. Note that I apparently have to comp

[2018-01-20 17:27] digitaldan opened #151 "Apple Notifications issues"
@FlorianSW we just deployed the latest code that includes the new routes (from Aug), I know that was a while ago :-)   There seems to be a few issues at least with the Apple Notification class, I have it crudely patched in production, but I was hoping for a more elegant fix.

on https://github.com/openhab/openhab-cloud/blob/master/mobileregistrationservice/AppleRegistrationService.js#L28 this prob

[2018-01-20 20:07] ScheissSchiesser opened #152 "Docker image on Raspberry Pi"
I am attempting to spin up the docker image for openhab-cloud on my raspberry pi 2 running raspbian jessie.
`pi@rpij:~/openhab-cloud $ sudo docker-compose up -d --force-recreate`
`Building mongodb`
`Step 1/2 : FROM mongo:3`
`3: Pulling from library/mongo`
`ERROR: Service 'mongodb' failed to build: no matching manifest for linux/arm in the manifest list entries`

It seems as though docker does not

[2018-01-20 23:30] marziman commented on #108
This is fixed with https://github.com/openhab/openhab-cloud/pull/110
I am closing this one, since I could create a pw with all those mentioned characters.

[2018-01-20 23:30] #108 closed

[2018-01-20 23:34] marziman commented on #129
Your points regarding secret and email case sensitive is fixed with https://github.com/openhab/openhab-cloud/pull/153
The guidance will be added soon. Thanks for your inputs @ThomDietrich !

[2018-01-22 16:27] FlorianSW commented on #151
I'll take a look into this! Sorry for the problems that this made :/

[2018-01-26 21:24] kaikreuzer opened #157 ""Internal Server Error" on applications page"
Accessing https://myopenhab.org/applications on my account results in an "Internal Server Error" response from the server - I therefore have no chance to manage my applications anymore :-(

[2018-01-26 21:25] kaikreuzer opened #158 "Android device does not appear under "devices""
My Android phone has the latest openHAB app installed and is successfully connected to myopenhab.org.
Nonetheless, it does not appear under https://myopenhab.org/devices, while my iPhone and iPad do. As a result of this, I am also not receiving any push notifications.

[2018-01-30 17:35] EjvindHald commented on #151
The IOS app has recently not been updating icons using myOopenHAB when the state changes, and it used to work perfectly. Now the icons in the IOS app only change state correct, if it is a local connection.

See examples:
[here](https://community.openhab.org/t/latest-ios-app-bugs/36771/16)
and [here](https://community.openhab.org/t/myopenhab-not-displaying-images-icons-correctly/39272)

[2018-01-31 13:38] Misiu opened #159 "[Feature request] Add instruction how to install openHAB Cloud on Azure"
Hi,
I'd like to ask for including instruction how to install openHAB Cloud on Azure.
Microsoft allows us to create free Dev Essentials account and gives free Azure account for one Year (they give $25 per month).
Having detailed instruction would help a lot!

[2018-01-31 23:28] redeye86 opened #160 "Severity, Time, etc missing in android/ios notifications"
I recently filed a bug for openhab-android. Currently, only the actual notification text is sent to the gcm and ios servers (cf. https://github.com/openhab/openhab-cloud/blob/master/app.js#L411).

This leads to some drawbacks. The time displayed in the android notification is not necessarily the time when the event occured at the openhab instance but the reception time of the mobile device. So if

[2018-02-06 14:48] marcom010 commented on #31
I have the same problem on multiple openhab instances where i can't edit, add, or remove anything by using myopenhab.org. When trying to use the save button nothing happens for a while and then throws a 504 - gateway time-out. When connected locally to the openhab instance everything works perfect..

Any update on this issue?

[2018-02-06 15:50] marcom010 commented on #26
This indeed sounds as the same issue as #31

[2018-02-06 16:05] ScheissSchiesser opened #161 "REST reporting incorrect links?"
Hi there,

I am running `openhab-cloud` via `docker` on an Ubuntu system. The docker image maps port 80 inside the `nginx` docker image to port 8080 on the Ubuntu system. The Ubuntu system is behind a router/firewall on my home network. The router forwards the internet-facing port 8000 to port 8080 of the Ubuntu system.

I have a DDNS service, hostname `ScheissSchiesser.com` (not really). Here are

[2018-02-08 07:49] kubawolanin commented on #134
I'm experiencing the same issue for over a month of trial.
Tried with a fresh account, generated new UUID and secret files.

I've observed that when I try to access https://myopenhab.org/start/index, in my logs I see "System started" rules being executed.
It may be a coincidence, though.

More details in this post:
https://community.openhab.org/t/myopenhab-socket-io-error-app-not-working/34420/6?u

[2018-02-10 22:35] MasterGollom commented on #161
Hi there,
I'm experiencing the exact same problem, that I cannot connect to my openhab via the cloud on my android device. I'm running a openhab2 instance on one server and a openhab-cloud instance on another server. Openhab runs on 8080 an the opencloud runs on ssl 443 (https).

Visiting https://railsvr.modelleisenbunn.eu/rest/sitemaps my response is quite the same as ScheissSchiesser's.
`[{"name

[2018-02-11 23:12] kaikreuzer commented on #158
I figured out the issue here: The app was using "https://home.myopenhab.org" as a remote url (which is the correct setting [according to the docs](https://github.com/openhab/openhab-android/blob/master/docs/USAGE.md#getting-started). When changing it to "https://myopenhab.org", the device registration worked right away.

@digitaldan Does that help to fix the problem? I'd rather consider it critica

[2018-02-11 23:12] kaikreuzer commented on #157
@digitaldan Any chance to address this?

[2018-02-11 23:33] marziman commented on #157
@kaikreuzer,
I prepared a fix. It was too late today and I was busy with Google folks.
I will let you know, soon.

[2018-02-11 23:34] marziman commented on #157
I hope it was not the missing icon of Google Assistant. This shouldnt throw an internal server error. I will see tomorrow.

[2018-02-11 23:38] kaikreuzer commented on #157
Thanks @marziman!

[2018-02-12 00:02] kaikreuzer commented on #158
Just found [this thread](https://community.openhab.org/t/myopenhab-devices/18624/11), which shows that it is indeed not related to Android and that other urls fail, too, such as simply having a trailing slash: "https://myopenhab.org/".

[2018-02-15 11:11] kaikreuzer commented on #157
According to @marziman this was some old test token in the database - after cleaning it, the problem is gone.
I'd leave that issue open though as even invalid tokens should not result in such an error in the UI.

[2018-02-15 11:13] kaikreuzer opened #163 "Charts not correctly rendered"
When using the remote connectrion, the charts are not rendered correctly, sometimes we only get an empty chart with the default white theme, sometimes the correct rendering.

There is not such a problem when using the local wifi connection. In this case, rendering is always good.

Lots of users have noticed that problem and you have several topics on the forum about this problem. Few users are eve

[2018-02-15 11:13] kaikreuzer commented on #163
Originally reported as https://github.com/openhab/openhab-android/issues/694.

[2018-02-15 11:15] kaikreuzer commented on #163
@digitaldan This is the known issue that I had reported privately directly after the myopenhab update a few weeks ago.

I think it is a critical issue that needs to be resolved asap.

[2018-02-16 12:36] kirantpatil opened #164 "[Feature Request] Remote debugging using openhab-cloud"
Hi,

I would like login to my system for diagnostic purpose(May be just use Terminal to login), to resolve any issue (Ex. RAM is full, so I need to restart openhab, To verify openhab configurations and so on ..)

Any Ideas, Please throw some light on it.

Thanks.

[2018-02-17 01:39] tsheldon opened #165 "Oauth2 handling does not support multiple requested scopes"
Following the discussion on the community thread titled "Google Home - Actions (API) now available!", it appears as if openhab-cloud is not properly handling multiple scopes in a single request.

Oauth2 RFC states that multiple scopes can be sent as a space delimited string.  A space, when encoded in a query string can appear as a "+" or a "%20".

Other indications show that the UI messaging is on

[2018-02-17 15:33] dynostatic commented on #31
Same issue here. I can confirm that @PaulBaugher 's fix does work if you run your own openHAB cloud instance as detailed here: https://community.openhab.org/t/setup-your-own-openhab-cloud-myopenhab-server-instance/24716

[2018-02-18 00:30] lsafelix75 commented on #164
You need web based ssh to make this work. I have done it but it is not a simple solution as you need to modify openhabcloud code, host the modified openhabcloud, build your own openHAB UI bundle to handle webshell

[2018-02-18 18:07] marziman commented on #165
Thats correct and some stuff before my time at oh-cloud.
I think we will fix this, but this is a general problem and not related to the Google integration only.

But thanks for filing this. I knew it already.

BR Mehmet

[2018-02-19 05:36] kirantpatil commented on #164
Thanks for the suggestion.

So, we need build or integrate app like https://github.com/billchurch/WebSSH2 with openhab-cloud right ?

[2018-02-21 12:41] pit3k opened #167 "Google application icon does not render (404 error)"
When I go to "Applications" tab I can see a "Google" application entry but the icon does not render. The icon has the following url which returns 404: https://myopenhab.org/img/oauth2/google-assistant.png

[2018-02-21 12:48] kaikreuzer commented on #167
Thanks for entering this issue, I was just about to do the same. Really minor, but would nice to see it fixed. When fixing, maybe a little space could be added between icon and text as well...

[2018-02-22 15:17] #151 closed

[2018-02-24 18:15] DerOetzi opened #168 "[Feature Request] Specify listening IP"
Hi,

I want to host openhab-cloud on one of my servers, which has several ips for different customer services. Now I noticed that openhab-cloud ist listening on all of this IPs on port 3000, which I really don't want because it although opens the possibilty to skip https secured proxy on a specific domain.

I did not find any configuration option to specify an listen ip. Can you add this option?

[2018-02-27 13:32] e-rook commented on #163
I think it is related to how mobile apps are integrated with cloud - because if I check sitemap using basicUI https://home.myopenhab.org/basicui/app all charts are rendered correctly. At the same time iOS and Android apps fails. So question is how charts are fetched by mobile apps?

[2018-02-27 21:30] BenPru commented on #161
I think I have the same problem.
I have a apache reverse proxy. My URL is https://mydomain/oh
This is not working because the app doesn't use the sub-path at all. In the apache logs I can see the following wrong path requests:
/addAndroidRegistration?deviceId=... with http status 404 - instead of /oh/addAndroidRegistration?deviceId=
/rest/ instead of /oh/rest/
/api/v1/settings/notifications instea

[2018-02-28 15:10] #163 closed

[2018-03-01 18:17] digitaldan commented on #142
Thanks for the suggestion, I have a PR based on it coming soon!

[2018-03-01 18:19] #142 closed

[2018-03-02 16:24] JonasMH opened #171 "OpenHab Cloud Docker Image Request"
Hey,

I'm in the process of setting up an openhab-cloud instance and having some problems that could be solved by having a prebuilt docker image. Had to install NPM, NodeJS & errors such as 'Cannot find module '../build/Debug/addon', and additionally I'm not really a fan having to build the solution on my server.

So a image on the OpenHab Docker hub would really be appreciated.

[2018-03-02 17:10] marziman commented on #171
Hi @JonasMH ,

there is actually a docker image and you just need to run one command with docker-compose.
It is described in the Readme.

BR Mehmet

[2018-03-02 17:27] JonasMH commented on #171
I saw that, but the issue is that to do so, you need to clone the entire development repository onto the machine server, then build the image. Where what i suggest is to put a pre-built image up on the Docker Hub, so in my docker-compose file i can just do the following, without pulling the repo:

[code]

[2018-03-04 20:23] marziman commented on #168
Hi @DerOetzi ,

I am not sure if I got you right, but in config.json you can specify your host:
[code]

[2018-03-04 21:35] DerOetzi commented on #168
Hi @marziman,

I don't think this is the right option. I try to explain a little bit more. the server I want to run openhab-cloud has several different ips

W.W.W.W internal VPN IP not reachable from WAN
X.X.X.X public.smarthome.domain.de
Y.Y.Y.Y customer1.domain.de
Z.Z.Z.Z customer2.domain.de
...

I wan't the openhab-cloud listen to https://public.smarthome.domain.de where a apache is listening a

[2018-03-04 22:05] marziman commented on #157
Hi,

I could not reproduce this. So I would close it for now.
I was related to some inconsistent database state.

[2018-03-04 22:07] #157 closed

[2018-03-04 22:08] marziman commented on #167
Hi,

I am about to fix this atm.
This is really strange, since it is some PNG problem.
Still checking why this happens with the Google icon.

BR Mehmet

[2018-03-04 22:11] marziman commented on #152
Hi,

I think you need to pull the right mongo ARM image from DockerHub (e.g.https://hub.docker.com/r/partlab/ubuntu-arm-mongodb/). But since this is not an issue related to openhab-cloud, I would close this here.

BR Mehmet

[2018-03-04 22:11] #152 closed

[2018-03-04 22:15] marziman commented on #149
Hi @holmes ,

do you run the right Node version, which is used by openhab-cloud? Looks like you run some node v9.3.0 ?
And I think this looks more like a local build problem intead of an openhab-cloud issue.
Can you please retry it with the corresponding node version? I never saw this error message ever before.
I will close it, and if you still think this is an issue..feel free to re-open it.
BR M

[2018-03-04 22:15] #149 closed

[2018-03-04 22:29] DerOetzi commented on #168
Hi @marziman,

I have greated a pull request with the feature implemented. I'm looking forward for your comments on this.

Regards

DerOetzi

[2018-03-05 10:19] tulamidan opened #173 "Update of node sources"
During build we can currently see a lot of warnings about old or deprecated:
the software still works fine but might stop working

...
npm WARN deprecated email-templates@3.3.2: 📫 Please upgrade to v3.5.0+ of email-templates to get email previews in your browser in development environment <https://goo.gl/Amu9sh>
npm WARN deprecated connect@1.9.2: connect 1.x series is deprecated
npm WARN deprecate

[2018-03-06 09:31] marziman commented on #171
Ok, got your point.
Will tackle this and get back to you here.

BR Mehmet

[2018-03-06 13:21] JonasMH commented on #171
Great! Let me know if you need any help and I'll do my best :)

- Jonas

[2018-03-19 21:59] marziman commented on #168
Hi @DerOetzi,

I was busy with docker stuff, sorry.
I will test it tomorrow and merge it accordingly if fine.

Thanks for the PR!

[2018-03-19 22:06] marziman commented on #171
Hi @JonasMH,

I will push soon some cool stuff for this one.
That will also make you happy :-)

BR Mehmet

[2018-03-19 22:10] marziman commented on #131
Hi @jmccoy555,

did this work for you now?
If this is resolved, let me know otherwise I am going to close the issue. If not, let me know how I can assist you.

Thx & BR
Mehmet

[2018-03-19 22:14] marziman commented on #143
Hi @Isafelix75,

thanks for your ideas and support. I would propose to close this issue here and point you to https://community.openhab.org to discuss in the community and speak afterwards about solutions?

Sure, feel fre to contribute. But lets first discuss all together in the forum.

BR Mehmet

[2018-03-19 22:14] #143 closed

[2018-03-19 22:19] jmccoy555 commented on #131
Hi @marziman just seen your reply, thanks. I'll give it another go in the next few days and let you know. It was a while ago now but I'm pretty sure I followed the readme. Let me check again.

Cheers.

[2018-03-19 22:21] marziman commented on #31
Hi,
yes that seems like an issue at indexjs.
I will go on this as next on my backlog.
Sorry for the delay and thanks for your patience guys.

I will keep you updated for a fix.

[2018-03-19 22:24] digitaldan commented on #31
This is fixed in #170 , but is not deployed.  I think this weekend would be a good time to do so as I'm out of town until then.

[2018-03-21 15:28] jmccoy555 commented on #131
Hi @marziman

I've tried to reproduce this but I can't really remember what I was trying to do back in Oct 17, I think I was trying to run it in Ubuntu as I couldn't get the Docker way to work. Ultimately I would just like to build the docker image without using compose, is this possible? I already have redis, mongodb and nginx running.

I have tried cloning the git, cd into the dir, cp config-pro

[2018-03-23 12:57] Stefan300381 opened #177 "Basic authentication?"
Hi,

I am using port forwarding in my router to reach my local openhab-cloud instance. The issue:

Using two different dyndns providers I see different results in my browsers (latest Chrome and IE11).
http://DYNDNS1:3000 shows the openhab-cloud GUI
http://DYNDNS2:3000 shows a pre-popup asking for basic authentication (user/pass). I tried different users/passwords but nothing worked.

Question:
Whe

[2018-03-23 21:16] JonasMH commented on #171
Hi @marziman,

Saw some images got posted to the docker hub on the openhab profile. Tried setting the app-image up and it worked after redis and mongodb was also setup. Made it much easier to get openhab cloud up and running. :)

Thank you for you help and work.

[2018-03-23 22:09] JonasMH commented on #171
Regarding custom configuration it possible to bind a single file like so instead of swithing to the local build.

[code]

[2018-03-24 10:15] Stefan300381 commented on #177
well, I have just used two different dynamic dns providers. the problematic one is home.haupt.xyz
if you lookup the IP address for the domain, please try it in your browser with http://IPADDRESS:3000 and another time with http://home.haupt.xyz:3000
For me it shows two different results.

[2018-03-27 14:04] mahonni commented on #31
Thanks, this fix was extremely necessary

[2018-03-28 15:45] maniac103 opened #178 "FR: Allow deleting/hiding seen notifications"
As per the subject, it seems a little counterintuitive that it's impossible to ever remove old notifications. It would be great to have a UI button and API to remove them, ideally with varying granularity (single/all/up to certain date).

[2018-03-29 05:22] digitaldan commented on #177
naming the host 'home' will force basic authentication, see https://github.com/openhab/openhab-cloud/blob/master/app.js#L333  , if you name it something else (http://oh.haupt.xyz:3000 for example)  then it will serve the same as using the IP

[2018-03-29 07:24] Stefan300381 commented on #177
ha!!! Thanks for this hint! will change the dns name so issue can be closed

[2018-03-31 23:12] DerOetzi commented on #168
Hi @marziman,

I'm really looking forward to your comments on the PR. Did you already managed to have a look on it?

Thanks

[2018-04-03 19:00] ghys commented on #31
Hi, if I'm not mistaken #170 is still not deployed to home.myopenhab.org.
Could you please think about it? ;)
Thanks ❤️

[2018-04-06 20:16] mueller-ma opened #179 "Show QR code with url, username and password"
A user wants to be able to scan a QR code provided in openhab cloud to configure a client: https://github.com/openhab/openhab-android/issues/721

[2018-04-06 23:05] pfink opened #181 "Add MAINTAINERS file"
It would be nice to add a MAINTAINERS file to this project so that we can have a quick overview who is maintaining this project.

Thanks!

[2018-04-17 15:21] FlorianSW opened #182 "Google Cloud Messaging deprecated, will be removed no later than April 2019"
Citing the e-mail I got from Google some days ago:

The migration guide can be found [here](https://developers.google.com/cloud-messaging/android/android-migrate-fcm?utm_medium=email&utm_source=msa). We probably should take care of migrating the server implementation from GCM to FCM in order to be able to send messages after GCM is shut down.

This could also be a good opportunity to revise the wh

[2018-04-17 20:04] JueBag opened #184 "Receiving notifications from myopenhab which are not created by my account."
Received a notification on a registered device which is not coming from my openhab instance.
Several other users reported the same in the forum

[https://community.openhab.org/t/is-myopenhab-org-down-i-get-timeout-on-android-and-504-i-think-is-504-on-web-interface/43763/15](url)
[https://community.openhab.org/t/receiving-notifications-via-openhab-cloud-not-originating-from-my-installation/43772/9]

[2018-04-17 20:06] digitaldan commented on #184
Thanks for the report, we are looking at this now.

[2018-04-19 17:51] digitaldan commented on #184
@FlorianSW I think this may have started around the time the registration code was refactored.  Can you take a look as well on this issue.  For the record, we are seeing many, many entries in the userdevices collection that share the same "androidRegistration" or "iosDeviceToken"   as another entry in the collection, so this field is not unique per entry as it should be.  I'm not sure how this is

[2018-04-19 18:18] FlorianSW commented on #184
Looking into this now. Can you provide an anonymized set of data of the model (like one or two sets of data with the same registration ID)? The deviceId, deviceModel and the deviceType would be interesting :)

[2018-04-19 21:30] digitaldan commented on #184
Yes i can do that, I'll ping you privately with some sample data that has been sanitized.  I'll try and find those log entires, the logging has been super verbose which i need to turn down as it makes finding these messages difficult.

[2018-04-19 22:55] digitaldan commented on #184
@FlorianSW can you ping me via email? dan@digitaldan.com

[2018-04-20 10:31] mueller-ma commented on #179
The QR code can represent a string, e.g. `url=https://myopenhab.org&mail=foo@example.com&pw=1234`.
The password can be entered by the user in a password field that is only used to generate the qr clientside via js and the password is thrown away afterwards. I would still prefer this over having to type the password on my smartphone.

[2018-04-20 10:49] mueller-ma opened #185 "Hide notification message from Google/Apple"
Currently push messages are sent to a service from Google or Apple and they redirect it to the device. These connections are (I haven't checked it, but they should) secured so noone besides the openHAB server, cloud instance, app and Google/Apple can read the messages. IMO this is one party too much.
While thinking about this problem I came to two solutions:
1. End-to-end encrypt all notifications

[2018-04-20 11:48] marceltoepler opened #186 "OpenHab Cloud behind reverse proxy and OAuth"
I try to set up OpenHab Cloud with the Google Assistant functions.

I got everything ready and working, but I cannot link the Google Assistant with my OpenHab Cloud instance.

In Google Home app i got a error message:

Looking in the logs from OpenHab Cloud, I found the following:

    2018-04-14T08:09:42.940Z - info: openHAB-cloud: server.authorization oauth2 request for scope: google-assistant

[2018-04-20 17:58] digitaldan commented on #184
@FlorianSW I don't think the issue is what i originally thought, while there are lots of duplicate push token id's in the system, they seem to be either due to people creating a second (or third) account, or a device changing its id, but still have the same push token id.  There was a ton of data, so it was slow going to do the forensics. That being said, I'm starting to think this may be a load i

[2018-04-22 10:49] FlorianSW commented on #184
@digitaldan Thanks for the update! Sounds reasonable, I looked at the code for registering a new android device and I couldn't find any codepath in which it would be possible, that a second device is registered unintentionally to the false person, so I also think, that the problem might be related to the sending code, I'll take a look into that (that's also the part where more changes were made in

[2018-04-22 11:31] FlorianSW commented on #184
@digitaldan From looking at the code and at the diffs of the respective code lines for sending a notification to a users device(s), I found that I missed some returns in some guard statements (see the PR #188). However, I don't think, that this could result in notifications mistakenly being sent to false users. However, it's something that could be related to this issue and should be fixed anyway.

[2018-04-22 11:42] FlorianSW commented on #186
Hi!

This looks, to me, like a support request rather than a bug, isn't it? Maybe you want to ask this question in the [openHAB community](https://community.openhab.org/). Issues at github should be used for bugs in the software or for feature requests :)

Best,
Florian

[2018-04-22 11:48] FlorianSW commented on #179
Ok, makes sense. We would need to add a note to the QR Code, that the code shouldn't be saved as it contains the password in plain text to be transferred to the device.

As a separator for the parts (url, username, password) we would need to find a usable one, especially because there're no blacklisted chars for the username so far, iirc (even if we say, that it must be a valid e-mail address).

[2018-04-22 11:52] marceltoepler commented on #186
Hey,

I think you're right and this is not a bug. I already asked in the openHAB community, but I don't got an answer that helps me there so I thought that somebody can help me here.

Regards
Marcel

[2018-04-22 12:02] marziman commented on #186
Hi,

this can have different reasons and looks like more a Google Assistant related topic.
It is difficult to understand with little information.
The best way is to ask at the forum, where I can assist you maybe with this.

Can you please linke me there and provide a detailed explanation of your question?

BR Mehmet

[2018-04-22 12:02] #186 closed

[2018-04-22 15:33] digitaldan commented on #185
So the goal is to not allow Google or Apple to see the message?

[2018-04-22 15:51] digitaldan commented on #184
Thanks for the PR!  I was looking at that part as well and noticed the missing return statement, not sure if that could had anything  to do with this, but I try and deploy those changes today to be safe.

[2018-04-22 17:26] mueller-ma commented on #185
Yes

[2018-04-22 20:46] digitaldan commented on #185
My thoughts here is that a) using native mobile push notifications implies a trust relationship between the user and either Google or Apple  and 2) For those who do not trust them, there are other push services supported in openHAB like pushover or email, and 3) I have not seen this requirement in my own professional environments, even from our more demanding clients like banks, financial and heal

[2018-04-23 04:42] mueller-ma commented on #185
None of the supported services offer end-to-end encryption.
I wrote a script to send pgp encrypted mails and installed k9mail + openkeychain on my phone. This setup has its disadvantages, e.g. non technical users don't understand why they need a second mail client, higher battery usage, etc.
So I wrote a second script which uses the signal messenger. It works better, but know I cannot differentiat

[2018-04-29 03:51] Skinah opened #191 "Image item from IP Camera starting data too soon, stopping control page from opening and not stopping right away."
So I did my first test using the Cloud to view my IP camera with the binding I am writing and the result may have turned up a bug. I am updating an IMAGE item with a jpg that is 130kB once every second, and I only have "notifications and remote access" enabled in the cloud setup. No items are exposed, my list is empty.

I used openHAB.org to log in and view my camera via basicUI, the image did not

[2018-04-29 03:53] Skinah commented on #191
Some comments and further information are located here in the forum.
https://community.openhab.org/t/bandwidth-limits-and-playing-nice-with-myopenhab-org-openhab-cloud/44107/7

[2018-04-29 08:04] kaikreuzer commented on #191
I'd say this is the main problem - Paper UI subscribes on every event change through SSE and all those images are sent as status updates. Doing an image item update should happen only, if there is some relevant change.

[2018-04-29 14:50] ejonesnospam opened #192 "Event log displays 'Yesterday' for today's events"
In openHAB cloud front-end, Event Log page, in the 'When' column, past events will indicate 'Yesterday' when events may may occured during the same day. It appears to change over (from today to yesterday) at approx 4 to 6pm in Pacific time zone, so I assume this display is based on time change in GMT, ie, the remote server time.

In my opinion, Yesterday or Today should be based on user's time zon

[2018-04-29 14:51] digitaldan commented on #191
The cloud service proxies requests as fast as it can, but if there is a lot of data, like an image changing that quickly, its going to get slow.  In fact, if you have a bunch of requests for data outstanding, and then close the web page, our cloud connector add-on will most likely try and fulfill those requests, even though there's nothing there to receive it.  I would say this is not a good use c

[2018-05-06 18:36] mueller-ma commented on #179
Do you think it would be usefull to add parameters to the qr code to configure everything in the app, e.g. icon format?

[2018-05-07 12:46] openhab-5iver commented on #184
My wife is getting notifications on her phone that are not initiated from our system, and do not show in the History. They appear to be coming from the same source, as they have the same content. She is still receiving the notifications that originate from our system. I am not getting the notifications from the mystery source. The issue started about a week ago on 2.3.0 snapshot 1268, and still oc

[2018-05-07 16:56] digitaldan commented on #184
Can you send me the email address you used to register for the cloud service?  support@myopenhab.org

[2018-05-07 19:47] FlorianSW commented on #184
@digitaldan Did dyou deployed the changes from PR #188 already (just to make sure, if this can't be the problem anymore)?

Just for some more background infromation (as the code of the notification sending part of openHAB seems to haven't changed in the last time): Can you give a little overview of how openHAB-cloud is currently setup from infrastructure point of view behind myopenhab.org? Especia

[2018-05-07 20:14] openhab-5iver commented on #184
Sent

The service has been a bit unstable lately, so I think we both have missed some, but she has received all of them that I have. The mystery notifications are additional.

[2018-05-09 17:36] FlorianSW opened #195 "Duplicate GCM IDs shouldn't be possible when registering an android device"
See #184: It was somehow possible to register two userdevice entries with the same deviceId, which shouldn't be possible at all. I'll work on this to technically prohibit this.

[2018-05-09 17:36] FlorianSW commented on #184
Oha, that shouldn't be possible :) I'll open a separate issue (see #195) for that, so that we can at least prevent this in the future with an error, instead of getting corrupted data into our database. However, as this one was the only duplicate entry, this is probably not the root cause of the problem :/

[2018-05-09 18:05] openhab-5iver commented on #184
I'll report back if she gets any more mystery notifications. Thank you both for your support!

[2018-05-09 18:07] digitaldan commented on #184
@FlorianSW I think it is the root problem, or at least the main one. I have not been communicating well across the various projects here, my apologies.  When we had the initial problem, I found many duplicate entries, sometimes more then two per GCM and APN ID.  There was a correlation between the the registration time on those entries and when we were having server issues that caused both app ser

[2018-05-09 20:57] digitaldan commented on #195
Sorry i was not more clear, the issue is not duplicate device id's, but duplicate APN or GCM  entries, so two entries have the same  'iosDeviceToken' or 'androidRegistration' field.  The deviceID is always different.

[2018-05-10 21:33] FlorianSW commented on #179
I wouldn't add too much things that can be configured with the QR code. As a user I would expect the QR code to be used to "pair" my device with the currently logged in openHAB-cloud instance, so url, username and passwort should be enough.

If we take settings into the QR code the question would be: What settings would be included and what, if the user already changed one of these, are the values

[2018-05-11 08:47] kirantpatil opened #197 "[How To] Multiple OH registration for a single user"
Hi,

Do we have multiple OH  registration for a single user ?

I mean  I have two OH's  one in home1 and another in home2 and would like to register both under a single user in Openhab cloud

Thanks.

[2018-05-14 13:40] HilmerChristophAkaHuima opened #198 "User Item Access Control"
I got 2 younger siblings and i administrate our Openhab system for my dad. My father bought us all to christmas Alexa Dots. Immediately i connected  my Dot with Openhab and showed it my siblings but now they want it too. But my father said he don't want that my siblings can access all items in the house. So i found u can create more users for one cloud but u can't control the access of there items

[2018-05-23 17:23] mueller-ma opened #199 "Timeout when openhab-cloud is used for notifications only"
See https://github.com/openhab/openhab-android/issues/898

Instead of a timeout openhab-cloud should responed with an error.

[2018-05-26 13:20] brookstudio opened #200 "504 Gateway Time-out on REST DELETE"
**Summary:**
Attempting to use the paper-ui remotely through myopenhab to delete a thing, and it appears that most of the paper-ui works fine, except for DELETEs. This is similar as #31

The paper-ui works fine when locally, so this appears likely to be bug with the routing rules between the nginx accepting frontend and whatever service is relaying that post back to the local instance.

**Sanitize

[2018-05-29 16:13] mueller-ma commented on #199
Closing as it seems to be a cloud connector issue.

[2018-05-29 16:13] #199 closed

[2018-05-30 10:00] RayBa82 opened #201 "Notifications from other openhab instances"
Hi, i dont know if this is the right place for this issue.

I am getting Android notifications from openhab cloud instances which i dont run.
In all languages.

This is a little bit scaring and I assume there is something running completely wrong.

[2018-05-30 12:59] digitaldan commented on #201
Hi this is the same as #184 .  We have an issue where in some corner case the push notification ID is duplicated across different user devices.  This is only a bug in notifications, there is no remote access or other account dangers here.  Can you send me the email you use to log into the service to support@myopenhab.org ?  I will go ahead and remove your entry from the database.  Once this is don

[2018-06-11 18:42] klaernie opened #202 "logon problems"
Hi there

for a couple months now I am trying to logon to myopenhab.org, but my logon credentials don't work.
I also tried recovering my password via the password reset link, but even after resetting the password logon doesn't work.

I somehow suspect that this is caused by my "unconventional" email address `kandre+openhab@ak-online.be`. I also tried reading the source and checking if there is any

[2018-06-15 23:29] ivan-leschinsky commented on #202
I have the same issue. Can't login to myopenhab.org even after 5 attempts to reset password. My email: vanopiano@gmail.com

[2018-06-18 10:38] DerOetzi commented on #168
@digitaldan Hi can you give me a short update on my new PR please?

[2018-06-19 15:40] thedannymullen opened #203 "Add items label to website view of items"
Can we add label to the website view where you show items?  It seems Google and Alexa use this parameter and there can be errors of it is missing?

I am thinking of it were shown in the website view it would clue new users to a problem?

[2018-06-30 00:40] lsafelix75 commented on #200
https://community.openhab.org/t/unsupported-request-method-delete/39629

I reported this before via openhab forum

[2018-06-30 05:22] bunglex commented on #202
I have setup a new instance and have the same issue,  Initial setup would only emulate sendmail, after fixing that i managed to verify the users, but still get "Unknown user or incorrect password" despite them being correct and verified.

[2018-07-02 12:51] favors commented on #200
Please close this. I investigate and found it's a issue from openhabcloud binding and should be fixed there. Thanks.

[2018-07-02 14:00] #200 closed

[2018-07-05 18:55] sagittarius0815 opened #204 "How to connect ifttt openhab service to my own openhab-cloud server"
Is there any documentatin how to connect ifttt service to my own openhab-cloud server?
I have my own openhab-cloud server running, but the ifttt service allways tries to connect to https://myopenhab.org. Is it no intended to connect ifttt openhab service to an own server?

[2018-07-05 19:21] digitaldan commented on #204
There is not, you would have to sign up as a service provider with IFTTT, theres no way of using the official openHAB IFTTT with your own instance.

[2018-07-06 18:55] sagittarius0815 commented on #204
OK, I understand!
The IFTTT API is a part of the openhab-cloud server.
I have to configure my own IFTTT service via IFTTT platform.
With some help for configuring OAuth2 I've got it running.

[2018-07-06 18:55] #204 closed

[2018-07-14 19:12] sapkra opened #205 "OpenShift - no css, js, images - 404 error"
I deployed openhab to my openshift instance but all styles, images, js, ... can't be loaded because the nginx configuration is pointing to directories they are not existing.

`2018/07/14 19:01:47 [error] 35#0: *4 open() "/opt/openhabcloud/public/bootstrap/js/bootstrap.js" failed (2: No such file or directory)`

When I navigate to `/opt/openhabcloud` I can see that the folder is empty.

[2018-07-14 19:21] marziman commented on #205
Hi,

thats true and known. I have to push the fix for that. Will fix that pretty soon.
There will be a major update on this topic soon. Just give me little time.

thanks!

[2018-07-14 19:22] sapkra commented on #205
Alright, appreciate to hear that. Thanks for the quick answer.

[2018-07-19 05:56] kirantpatil opened #206 "[FAQ] Creating openhab-cloud user via REST API"
Hi,

This question is raised at [forum](https://community.openhab.org/t/creating-myopenhab-user-via-rest-api/33568).

We also wanted to create user at openhab-cloud using REST API but couldn't find.

Please let us know if there are any REST API to create user else how to write a new api to support this feature ?

Thanks,
Kiran.

[2018-07-19 07:18] kirantpatil commented on #186
I am also having same issue, where to find the solution ?

[2018-07-19 07:34] kirantpatil commented on #186
Below code is causing the issue.

[code]

[2018-07-24 19:34] broyuken commented on #178
I agree with this, I set up a rule to send a few test notifications to make sure it works, but now I can't remove them. As such my notifications are now full of "junk" notifications that I can't get rid of.

[2018-07-25 14:36] Skinah opened #207 "New feature: syntax checking of tags and helpful debug logs"
Due to the large number of people having issues with tags I have already coded a solution that will warn in the logs and help guide new users of syntax issues. Very basic at this stage but working and ready to test. Before doing a push request I wanted to discuss this first for input. Uses same java libraries and needs no new dependencies and contained in a small method easy to remove/disable.

Th

[2018-07-25 19:07] Skinah commented on #207
Closing as this appears to be wrong place. Thought this was for openhabcloud connector addon.

[2018-07-25 19:07] #207 closed

[2018-07-27 06:46] kirantpatil commented on #197
Closing this since it is work in progress https://github.com/openhab/openhab-cloud/pull/98

[2018-07-27 06:46] #197 closed

[2018-08-01 02:07] jarrodlucia opened #208 "Unable to Reset Password"
I have reset password many time now, with different combinations. Each time I am unable to login with the new password.

Is there a way to deregister the email and reregister again.

[2018-08-01 12:38] kirantpatil commented on #140
Greetings @lsafelix75,

How did you resolve this issue ?

Please provide the details, since we are also in need of it.

Thanks.

[2018-08-03 07:04] kirantpatil commented on #206
Finally we understood that we need to implement api routes and api to be consumed in openhab-cloud.

Thanks.

[2018-08-03 07:04] #206 closed

[2018-08-06 01:29] sapkra commented on #205
Are there any news for this issue or your major update?

[2018-08-11 08:50] chris-si commented on #202
I have the same [problem](https://community.openhab.org/t/myopenhab-login-impossible/49153).
It seems like one big issue is the '+' in the mail address.

[2018-08-16 22:29] gusztavvargadr commented on #140
@kirantpatil to me clocks not in sync and / or running out of disk space on the server caused this, I'd recommend to check those.

[2018-08-20 11:10] turagabhupathi opened #209 "Error while connecting from openHAB-cloud to mongodb: MongoError: Authentication failed."
how can i solve this issue

[2018-08-20 12:09] #209 closed

[2018-08-22 10:29] turagabhupathi opened #210 "i am running a openhab-cloud instance in my localhost"
i am getting offline all the time when i am login with my uuid and secret

[2018-08-22 13:33] kirantpatil commented on #210
Have you connected Openhab instance to it using openhab-cloud connector ?

[2018-08-22 13:34] kirantpatil commented on #210
Please use [forum](https://community.openhab.org/) for such questions and close this issue.

[2018-08-22 13:37] kirantpatil commented on #210
Forum has same question.

https://community.openhab.org/t/myopenhab-always-offline/42397

[2018-08-22 14:59] #210 closed

[2018-08-29 13:57] ozzeruk commented on #184
Hello, just to let you know this has started happening on my OpenHab app too as of today. I keep getting weird messages in German. A bit unsettling as it makes me wonder if the installation has been compromised at all. Hope it's a simple fix.

[2018-08-29 15:23] digitaldan commented on #184
Hi @ozzeruk I have deleted you android registration, launching the app again will create a new one.  Fortunately there’s no change of a compromised account, the bug is related to duplicate push notification ids , so in very rare cases a message is pushed to two devices instead of one.  But that does not make it any less scary when it happens!

[2018-08-29 16:14] ozzeruk commented on #184
Thanks Dan - I'm back up and running again, all good!

[2018-09-03 14:36] DerOetzi commented on #168
Hi @marziman, @digitaldan

is there any problem with my Pull Request #190. Anything can do or have to change to get it merged?

[2018-09-03 23:38] dastrix80 commented on #147
I have the same issue, when remote I cannot login to the OH2 instance using the Android App

[2018-09-04 15:55] topperblues opened #211 "Docker container config.json"
Hi, i need to change the config for mongodb and redis.
When i try to mount a volume the container don't want to start.
I try to mount my-nfs/openhabcloud/:/opt/openhabcloud and then i try to mount only config.json in this way my-nfs/openhabcloud/config.json:/opt/openhabcloud/config.json:ro.
In the first case the error was that node can't find app.js (it's ok, i don't have all application files on

[2018-09-08 07:33] topperblues commented on #211
Ok, i missed in docker config file that no volume is defined.
So i got error when i try to bind not defined volume.
I suggest to define a volume to bind config.json, in this way a user that need to change only config file can use your dockerfile.
To do this without volume i need to get your node app, edit config file, build and push my docker container in private.
Right?
Thanks.

[2018-09-13 17:36] rkoshak opened #212 "Cloud not reporting online/offline alerts"
When an openHAB Cloud connected OH goes offline we used to get an alert on the phone apps. This alert is no longer being sent. Per this thread: https://community.openhab.org/t/myopenhab-org-online-offline-notification/51339 the feature was temporarily turned off and may not have been turned back on.

[2018-09-21 22:39] pbaart commented on #202
Same issue here.
I also used an '+' in my email address. And can't register another email address, because the UUID is already in use.

[2018-09-21 22:55] pbaart commented on #202
I found a solution to login with an email address that contains a '+', you can escape the '+' symbol with a '\'.  You cab enter something like this: `email\+label@domain.tld` instead of `email+label@domain.tld`

[2018-09-22 22:05] klaernie commented on #202
@pbaart Awesome, never occured to me to try this. Finally I could logon.

[2018-09-30 10:38] doits opened #215 "Own instance: Cannot login, password invalid"
I just installed my own openhab cloud instance on my own server. It works fine so far and is running. After registering a new user, I am logged in with the new user automatically. So far so good.

But once I am logged out and try to login again, it says my username/password do not match. I tried it with really simple passwords (like `123123bla`), but still if I log out once, I am never able to log

[2018-10-07 16:26] ravi923615 opened #216 "Which Version of python is required to be installed to run this on localhost."

[2018-10-07 19:03] #216 closed

[2018-10-14 12:36] marziman commented on #208
Hi @jarrodlucia,

I will take a look at this.
Can you send a mail to the support email?

Thanks

[2018-10-16 18:45] #184 closed

[2018-10-16 18:45] digitaldan commented on #184
I will leave this open until I confirm this fixes the issue

[2018-10-16 18:46] digitaldan commented on #201
Duplicate of #184

[2018-10-16 18:46] #201 closed

[2018-10-20 13:18] marziman commented on #215
Can you tell us if you used a plus sign in the mai you registered with?

[2018-10-20 13:19] marziman commented on #211
Thats rigth.
So this is actually missing and something I dont ike either.
It will be changed with upcoming release of the docker deployment.

[2018-10-20 18:10] giusanny opened #218 "Rollershutter not listed in https://myopenhab.org/items"
Hi all,
first of all thanks for the great work, i use openhab and works like a charm. I use all my items with HTTP binding.

I have some problems with rollershutters in https://myopenhab.org/items/

If I expose in the openHAB Cloud service only the rollershutter i can see it in the https://myopenhab.org/items/ page, but if i expose all the items i can see all of them exclused the rollershutters, s

[2018-10-21 16:51] MMartinezV opened #219 "map internal websites with nginx (or other way)"
Hi,

When I'm at home I'm using an nginx proxy to authenticate users and I'm also proxying many URI to another webserver, then I access to them with a webview item.

If I use myopenhab.org to access my site the nginx proxy doesn't work so I can't use the webview to access external sites to openhab, is there any way to make this work?

Regards,

  Manuel

[2018-11-11 14:08] dmachtey commented on #212
This affect also me. Is there any plan to re-enable online/offline notifications?

[2018-11-13 15:08] Alshukaily opened #221 "504 Gateway Time-out"
It's starts yesterday when I tried open garage door using Google assistant and it couldn't connect then I tried to open openhab app but also not connected. So I don't know what happened. There is no changes has been made during the past three days, except I have noticed the app has been updated overnight before, but I checked the remote access username and password but they still there.
Then I tri

[2018-11-13 21:10] roberlax commented on #221
I have the same issue since yesterday.
Additionally I noticed, that cloud access was quite slow since some days.

[2018-11-14 11:44] Stefan300381 commented on #221
same here. Google occasionally responds in German "Der Anbieter openhab ist nicht erreichbar" (openhab is not available). Just right now I have switche on a light in my office room, then 2s later I try to turn it off and I hear the error message.

[2018-11-15 06:20] Luix87 commented on #221
Same here, it’s there an issue with OpenHAB cloud in these days?? Can someone throw a light around here on what’s going on??

[2018-11-15 06:40] roberlax commented on #221
Issue now dissappeared on my side. Would be really interesting what causes such effects.

[2018-11-15 06:44] Alshukaily commented on #221
Also from my side..I just checked it's working

[2018-11-15 09:21] kaikreuzer commented on #221
See https://community.openhab.org/t/solved-is-home-myopenhab-org-down/54000/49.

I'd assume we can close this now.

[2018-11-15 09:21] #221 closed

[2018-11-15 09:51] marziman commented on #215
Any feedback? Is that resolved?

[2018-11-15 10:07] niggli opened #222 "Event Log shows only first page"
Below the list of events, there are links to further pages of older events. If I click on one of the numbers, all that happens is that the page reloads.

[2018-11-15 11:12] doits commented on #215
Nope, just alphanumeric and a `-` sign.

I will pull the latest updates and check it (I didn't try again in the meantime).

[2018-11-29 14:02] pabloalcantara opened #225 "Google home - Brazilian portuguese"
Brazilian portuguese is recently added to Google home. but myopenhab isn't underestending portuguese.
It's possible to add this language? How can i help with that?

[2018-12-03 12:20] pinki commented on #221
I get 504 errors since this morning.

[2018-12-10 10:56] darkblackside opened #226 "Too many open ports"
https://github.com/openhab/openhab-cloud/blob/master/deployment/docker/docker-compose.yml

The config exposes every port of every service. This is more unsecure than necessary. You can fix it if you take out the "port" thing for mongodb, redis and app-1. The only necessary ports are exposed by nginx.

[2018-12-10 11:18] marziman commented on #226
Thanks,
but we are heavily changing this and it the new version it wont be the case.
I will take this into consideration and double check.

[2018-12-10 11:31] marziman commented on #226
You can already participate here. Were are preparing a pull request with better kubernetes support and some updates/fixes to the docker-compose file.

So any input and help already now appreciated. If you have any improvements, ideas, fixes..just create a PR.

THanks & BR
Mehmet

[2018-12-11 14:35] Oeti commented on #212
+1
may i provide some help in fixing this issue?
I would be interested in helping with this and other issues...

[2018-12-11 17:57] peterloron commented on #212
+1 I also have been missing this feature. Please re-enable it.

[2018-12-13 14:22] darkblackside opened #227 "[Bug] Openhab-Cloud Docker-Container throws error after Login"
Docker-Container throws error for website:
[code]
This error is displayed after login/registration on the website. Some people solve this error by not using alpine-linux, which the openhabcloud-app-Container is based on. Maybe alpine-linux doesn't allow accessing the timezones of the system by tzset-function.

Also I tried to create my own docker-container by dockerfile of this repository, but thi

[2018-12-13 14:37] darkblackside commented on #219
I don't know if i got the point.

You've created a sitemap for openhab. In this sitemap you've included some webviews to display pages (lets call them private pages). These private pages need authentication via nginx. When you're at home you get authenticated automatically. If you look at the private pages from anywhere, you don't have this authentication, so they can't be displayed. You want them

[2018-12-13 15:10] darkblackside commented on #225
After you've added your items to your google smarthome, everything should be handled over these names. The openhab-cloud and the openhab-google-assistant are only responsible for synching the items with google smarthome.

I don't know why this should not work in portuguese. Can you describe your situation more detailed? What have you done and what isn't working?

[2018-12-13 15:15] pabloalcantara commented on #225
I really dont know whats the problem.
I have added the devices and works perfectly when I set English as the gHome language. if I use Portuguese, it didn't recognize the devices.

[2018-12-13 15:22] darkblackside commented on #225
I doesn't think this problem is located in any of the openhab-components, but we should wait for an answer of one of the contributors to be sure.

Sounds like google home is not fully supported in portuguese.

[2018-12-16 14:18] satheras commented on #212
Experienced this issue today. I relied on it because it was always accurate.

I just found out that it isnt working by accident. I am sure that there are others who are not aware about it.

Would be great if you could turn it back on!

By the way: thanks for the great work with openhab!

[2018-12-17 20:37] zhhuser commented on #212
+1

Would also love to have this turned back on, if possible.

[2018-12-18 15:24] kaikreuzer opened #228 "Hardcoded scope in oauth page"
https://github.com/openhab/openhab-cloud/blob/afac28320ac352d253bcc38ba93a78650b0b1aa6/views/oauth2dialog.ejs#L36

Shouldn't the value parameter rather be set to `<%= scope.name %>`?

[2018-12-20 13:05] petero-dk opened #229 "New cloud application needs OAuth"
I just finished the prototype Cortana integration (and essentially a channel integration for multiple channels to HABot).

https://community.openhab.org/t/cortana-skill-for-habot-testers-needed-and-maintainer-input-requested/60332

However currently that integration uses basic authentication to reach the myopenhab.org server, which is really bad since I have to store all user credentials in a clou

[2018-12-20 14:47] DerOetzi opened #230 "Proxy for /gpstracker"

[2018-12-20 14:48] DerOetzi opened #231 "Proxy for /gpstracker"
For easy usage of the new gpstracker binding with user-authentication /gpstracker/* should be proxied by openhab-cloud.

[2018-12-20 14:49] kaikreuzer commented on #231
It is. What's your issue?

[2018-12-20 16:59] zolakk commented on #231
I was trying this yesterday and was getting a 404 (in browser) and 403 (in owntracks) on my self hosted instance at https://myopenhab.mydomain.com/gpstracker/owntracks using a fresh pull from this repo.

[2018-12-20 20:38] kaikreuzer commented on #231
Hm, ok - I was only using myopenhab.org, where this actually works when using home.myopenhab.org - maybe there's a difference for the self-hosted version, @digitaldan or @marziman might better be able to answer that.

[2018-12-20 23:50] zolakk commented on #231
It turns out I was on the wrong track after seeing issue #177 where it was mentioned that the host name has to be "home" for basic authentication. I rolled back the change I mentioned earlier and set up a cname on my DNS for home.openhab.mydomain.com, pointing to openhab.mydomain.com and got another cert for the new home.openhab virtual host. I then copied the original nginx config file and just c

[2018-12-22 21:40] DerOetzi commented on #231
Why is there a difference between /rest, /basicui, /paperui and /gpstracker urls? the first three work fine with https://smarthome.mydomain.com. Why do I need to use for home.-subdomain for gpstracker?

I have a wildcard cert for *.mydomain.com but not for *.*.mydomain.com and I don't want to buy another for this.

I have done two changes locally to make it work without the need of home

app.js

`

[2018-12-22 21:53] DerOetzi commented on #230
Duplicate with #231

[2018-12-22 21:53] #230 closed

[2018-12-23 20:55] gonzaechev commented on #35
Hi, change device name in MongoDb (devices collection)
I tried this and works

[2018-12-23 23:37] Gozilla01 commented on #29
Hello,
I'm very interested in this improvement.
Are there any news?

[2018-12-30 10:48] guw commented on #125
I haven't checked the code yet but I think https://github.com/speakeasyjs/speakeasy is very common for NodeJS apps.

[2019-01-03 10:37] cweitkamp commented on #222
I can verify that. The URL changes from e.g. https://myopenhab.org/events to https://myopenhab.org/events?page=1 but the listed entries are still the same. The buttons "Prev" and "Next" do not change anything.

[2019-01-04 09:45] cweitkamp commented on #167
Same for me. My image source path leads to https://myopenhab.org/img/oauth2/google.png. A "google.png" file does not exist in this repo. Does it?

![grafik](https://user-images.githubusercontent.com/5131747/50681994-ac216600-100d-11e9-904d-558af88f4a9d.png)

[2019-01-06 05:39] Raspel16278 opened #233 "Unable to login to cloud."
Hello. I'm having trouble signing in to the cloud. I also tried to reset my password, but the cloud still reports an unknown user or the wrong password. I have logged in via multiple PCs and through different browsers. I enter the login name and password correctly, the mail is working, it has been sent to the password recovery email. I can not start a new account because I have my PI linked there.

[2019-01-14 13:27] lucacalcaterra opened #234 "Docker-compose not working with actual config ?"
Hi,

doing the tests I was not able to make the services work properly through docker with docker-compose. With actual docker-compose.yaml  (my actual config is ubuntu 18.04 and docker 18.09.1)  mongodb not working because say me missing /data/db (even if i create dir as suggested) and nginx proxy not forward to app-1 because it's volume not shared.

Now with the following config seems to work, if

[2019-01-15 10:03] cweitkamp commented on #222
@digitaldan I did some research and tried to figure out how I can help: In #174 the usage of page parameters has been fixed. This fix has been overwritten by #194. Can we somehow revert the changes of the `routes/*.js` files? Thanks.

[2019-01-15 13:48] marziman commented on #234
I will recheck this.
Strange, as I had it running not long ago. But anyhow @lucacalcaterra thanks for the Feedback.

BR Mehmet

[2019-01-15 13:50] marziman commented on #233
Hi @Raspel16278
I guess you are refering to myopenhab.org.
Maybe you have some "+" sign in your email adress?
Can you send me in the forum https://community.openhab.org by private message your email?
Please dont expose your mail around here.

Thanks & BR
Mehmet

[2019-01-15 16:14] lucacalcaterra commented on #234
Probably some updated docker's images ?

[2019-01-20 00:08] gonzaechev opened #235 "Seccion Staff/User"
In sección Staff when you click "User", oauthclients is showed.

![deepinscreenshot_select-area_20190119210750](https://user-images.githubusercontent.com/12264738/51433655-52848280-1c2e-11e9-9f52-33998b2545b5.png)

[2019-01-22 07:50] ddt3 commented on #212
+1
Would love to see this back in action again.

[2019-01-23 11:45] vivekpratap007 opened #236 "while running node app.js . it is throwing error"
sudo node app.js
Option polling duration is not valid. Please refer to the README.
(node:4979) DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass
option { useNewUrlParser: true } to MongoClient.connect.
node_redis: Warning: Redis server does not require a password, but a password was supplied.
(node:4979) DeprecationWar

[2019-01-23 12:12] vivekpratap007 commented on #236
I am in  current master branch

[2019-01-24 15:15] lucacalcaterra commented on #236
All advices are warningsm so your app should must be running anyway (in my experience, i've the same warnings)... can you connect to the localhost:3000 ?

By the way...
-Option polling duration is not valid... don't know
- The last two error should be related to redis and mongo password... probably you have specified password but not needed because the server not require authentication for the db.

[2019-01-27 19:25] masantiago opened #237 "armhf for kubernetes support (raspberry 3 B+)"
It seems that the kubernetes deploy is not ready for armhf architecture like in raspberry pi 3B+. Once I deployed the cluster, none of the images of the Deployments:

- docker.io/openhab/openhabcloud-app
- bitnami/mongodb:latest
- docker.io/openhab/openhabcloud-nginx
- bitnami/redis:latest

is able to run. All of them complains of:

[code]
that seems to be quite related to the architecture.

In do

[2019-01-28 11:17] lucacalcaterra commented on #237
Hi, naturally! The docker images you used are for x86/x64 platform.

I've made a docker compose file on github adapting it for raspberry, follow the instructions and open an issue if you have troubles.

https://github.com/lucacalcaterra/openhabcloud-rpi-docker

[2019-01-28 11:53] Landstad commented on #222
Any news on this?

[2019-01-30 21:33] wborn commented on #134
This is still an issue. See also my https://github.com/openhab/openhab2-addons/pull/4500#issuecomment-451695654:

---

It looks like the Cloud is not properly keeping track of offline/online instances.

According to the `CloudClient` logging the connection should still be up after several disconnects:

[code]

Also if I raise logging on `io.socket` there is a connection because it ping/pongs norma

[2019-02-04 14:37] danielreus opened #238 "OAUTH credentials for Olisto integration"
I am a developer at Olisto (a cloud-based (home) automation service like IFTTT/Yonomi/etc) and out of personal interest I developed an integration for myopenhab.com. Most of the work is done, but right now authentication is 'hacked-in' and not production-ready, as it needs user credentials. Which obviously is bad. It would be awesome if we could set-up an OAUTH2 client for this. If this is done, I

[2019-02-04 18:05] gonzaechev opened #239 "iOS notifications on my own openhabCloud instance"
Hi I configured notifications for android device through Google Firebase and everything is going well, but I have problems with iOS notifications. I have Apple developer account and I have the certificates generated and configured in config.json (section apn).

When I start the cloud service, all the logs look good but the connection to APN does not show any message. I Edited the aps-helper.js fil

[2019-02-06 17:47] baha00 opened #240 "openhab-cloud/Gruntfile.js killed"
Hi there is there any updated version of install. I am trying to install it on aws virtual ubuntu 18.04 with node-v 8 but I keep getting this error, and warn messages
![image](https://user-images.githubusercontent.com/17033913/52361919-43c40b00-2a37-11e9-9fc1-11ba556097ee.png)

[2019-02-07 18:14] danielreus commented on #238
Great @marziman, thanks for picking this up!

[2019-02-13 13:01] vivekpratap007 commented on #236
Thank @lucacalcaterra
yes you are right , last two are the warings .
Now we have chosen the  the latest stable version  and we are not facing any issue,

thanks,

[2019-02-13 13:03] #236 closed

[2019-02-14 05:26] dastrix80 opened #241 "Logger.js changed??"
Hi All

This post suggests there was some config to change log levels, but doing a clone of this repository has meant the logger.js appears different

I have no reference to this in my logger.js

transports: [
        new (winston.transports.Console)({json: false, timestamp: true, level: "info"})
    ],

Can someone explain how I can set and view the logs in debug mode??

Thanks

[2019-02-16 22:55] ReidChris opened #242 "Unable to sign in"
I've been unable to sign in since creating the account. It worked once after validating the email address, but I haven't been able to log in again.

My email address does not contain a "+" sign, however it does have a ".".

I've been able to reset the password and receive the emails from that process, but still can't sign in. The error "unknown user or incorrect password" is shown.

[2019-02-18 20:11] marziman commented on #228
@kaikreuzer
There is NO scope support. We need to tackle this really soon as the current OAuth implementation is rather rudimentary. There are also no refresh tokens implemented. So many important parts are missing!

BR Mehmet

[2019-02-19 21:16] maniac103 commented on #222
@cweitkamp Nice find ... I was wondering why the Android app doesn't display all notifications anymore :-/
@marziman This looks like a merge fail in your PR #194...can you please fix that?

[2019-02-19 21:51] marziman commented on #222
Ok I will take a look and check this.
Thanks for pointing it out and sorry if this happened.

[2019-02-23 01:44] cookins opened #243 "Problems with starting on Debian 9 on VPS"
Hi
I want to install OpenHAB on remote VPS for smart home.
So i installing from rep and got some problems:
[code]
any hints?
thanks!

[2019-02-27 16:41] #182 closed

[2019-02-28 00:24] dastrix80 opened #244 "OH2 and OH2 Cloud running on same server - unable to connect using Domain Name"
Hi all

I have a ubuntu server running OH2, 8080 (192.168.0.3)  and OH2 Cloud on 3000 (192.168.0.3) with NGINX/HTTPS setup.

When I configure the Cloud Client under PaperUI with anything other than http://192.168.0.3:3000 the Oh2 Cloud says OH2 is offline.

My network uses split dns. I have a host entry for the domain name that references 192.168.0.3, its pingable and reachable. It also is reachab

[2019-02-28 02:19] cookins commented on #243
anybody?
is that even official openhab?

[2019-02-28 08:25] #244 closed

[2019-02-28 15:23] digitaldan commented on #243
Hi @cookins , this is the repo for our Cloud proxy service, not the main openHAB project.  There are only a few who monitor tickets here.

But i think in your case you would be better to ask your question on the forum  at https://community.openhab.org/ , there are significantly more people there that can help out and answer questions.

I will also suggest that you post the logs files too (/var/log

[2019-02-28 15:23] #243 closed

[2019-02-28 15:26] #160 closed

[2019-02-28 23:34] dastrix80 opened #246 "unexpected string at json position"
Hi All

There is an error somewhere that relates to config.json. When you copy either production or development and change ONLY the domain, this is thrown:

0|Netsecur | SyntaxError: /var/www/openhab-cloud/config.json: Unexpected string in JSON at position 1355
0|Netsecur |     at JSON.parse (<anonymous>)
0|Netsecur |     at Object.Module._extensions..json (module.js:672:27)
0|Netsecur |     at Mo

[2019-03-01 12:56] hpuk2000 commented on #212
My install of Openhab has gone a bit unstable at the moment and is hanging about once a week. I have got so used to it being rock solid that I am missing these hangs and I did not realise the cloud notifications had been turned off.
I too would love to see it reinstated.

[2019-03-02 20:13] #222 closed

[2019-03-03 14:38] mueller-ma opened #247 "Wrong App store badge on /devices"
The badge for the apple app store says "Mac App Store", but links to the iOS app.
https://github.com/openhab/openhab-cloud/blob/master/public/img/apps/download-app-store.svg

[2019-03-06 12:39] Landstad commented on #222
Hello @digitaldan  @marziman,

I see this issue was closed four days ago, but I am still experiencing the same behavior.

[2019-03-07 00:05] dreusel commented on #238
Hey @marziman , did you get a chance ti check for this?

[2019-03-16 03:30] idkpmiller opened #248 "myopenhab.org event page when column displays term tomorrow for morning events"
I live in New Zealand that is generally 12 hours ahead of UTC that means when I get up in the morning and check my logs on myopenhab.org cloud site I see entries declaring them as happened “Tomorrow” in the WHEN column and some that actually happened yesterday for me are described as ‘Today’.

It is currently mid afternoon here so unable to upload an example, I will do that in the morning.

Regard

[2019-03-16 16:59] Landstad commented on #222
@digitaldan when will the fix be deployed?

[2019-03-18 07:29] mkarnek commented on #201
Hi. I just wanted to let you know that I today received a notification from someone else's OpenHab on my iOS device. First and only time it has happened to me since I started to use the service. Thanks.

[2019-03-18 09:01] cweitkamp commented on #222
I submitted a follow-up PR to solve the issue for the buttons "Prev" and "Next".

[2019-03-18 15:23] JueBag commented on #184
Some false notifications were reported today, see:
https://community.openhab.org/t/receiving-notifications-via-openhab-cloud-not-originating-from-my-installation/43772/24

Are they related?

[2019-03-18 20:39] Landstad opened #251 "Dashboard, Android app and Google service -504 Gateway Time-out"
After the recent deploy clicking on items in the event log works and also choosing page x.

But everything else stopped working (i e, dashboards, Android App, Google service).

Dashboard:
I click "Click here to access your openHAB's dashboard"
After a minute I get the 504.

Android app:
I open the app, after a minute I get the 504.

Google Service:
If I use voice:
"OpenHAB seems to be unavailable

[2019-03-18 20:43] digitaldan commented on #251
Can you try restarting your openHAB instance, or just restart the openHAB Cloud binding?

[2019-03-18 21:36] Landstad commented on #251
Restarting openHAB worked. Thank you.

[2019-03-18 21:36] #251 closed

[2019-03-19 04:23] Alex1000A commented on #140
@kirantpatil

excluded your path from csrf in app.js

[2019-03-19 07:07] redeye86 opened #252 "Receiving push notifications from / for other users"
I received two push notifications yesterday and a few minutes ago that were not sent by my own installation of openhab and were not sent to me actually.

I (and other users) already had this Issue a year and a half ago or so. As far as I remeber this occurred after down time of the cloud service.

I think this is really critical as personal information is sent to wrong recipients.

[2019-03-19 10:11] andree-b commented on #248
I digged a bit into the openhab-cloud code and found that you can set your timezone via
https://<myopenhabcloud>/setTimezone?tz=<timezone>
so in your case try
https://myopenhab.org/setTimezone?tz=NZDT
Not sure if this will stay persistent though.

[2019-03-19 23:03] digitaldan commented on #252
I am currently looking at this now.

[2019-03-19 23:07] digitaldan commented on #252
@maniac103 I am currently doing a review of recent code changes and noticed that `data` had local scope before your change, but now is global, can you look at https://github.com/openhab/openhab-cloud/blob/90cb7383ce3215d670b9591cab154a1c4c34356a/notificationsender/firebase.js#L17

[2019-03-20 03:39] idkpmiller commented on #248
I just tried the URL exactly as posted and it responded saying it was set.
but it never asked me for an account or the like so I guess it is a browser
cookie thing????
I will try to look in the morning if I can remember and see what it does.
Thanks for the response.

Cheers
Paul

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-fre

[2019-03-20 09:34] maniac103 commented on #252
@digitaldan What do you mean by 'now is global'? `data` is passed in as function parameter there, it still has local scope (in the calling functions `sendMessageNotification` and `sendNotification`) AFAICT.

[2019-03-20 10:54] fhb commented on #212
+1
Just got late to work because my morning alarm is triggered through a webhook and the myopenhab connection was hung-up (only started working again after a restart of my openhab server, although myopenhab said my server was "online"). It would be awesome if the connection state was monitored on the local openhab instance with a notification or optionally even better a custom rule triggered, once

[2019-03-20 14:40] andree-b commented on #248
Yeah probably a cookie thing.

This should be automatically called if you open the myopenhab (it's included in the site's header) but it seems like the evaluation of the local timezone doesnt work.

BTW timezone "NZDT" doesnt work here, whereas "CET" and "EST" does.
But "Europe/Berlin" and "Pacific/Auckland" also works --> https://myopenhab.org/setTimezone?tz=Pacific/Auckland

[2019-03-20 21:19] digitaldan commented on #252
Your right, i missed that :-)

[2019-03-20 21:39] digitaldan commented on #252
@FlorianSW  can you look at change you made in #188 ?  Specifically this line?  https://github.com/openhab/openhab-cloud/blob/639fdad9117672d552266ae266c75785e5883c8b/app.js#L354  I think we have this accidentally as a global and maybe causing messages to go to the wrong place under load.  (not 100% sure, i'm still looking )

[2019-03-20 22:14] FlorianSW commented on #252
It seems to be correct, that this variable is misleadingly declared as a global one (while it should be in the scope of the function). However, I'm unsure, if this could lead to the problem mentioned in this issue. So, as this seems to be wrong obviously, I created #253 to fix it. Let's see if this is also the cause of the wrong sended messages :)

[2019-03-21 03:38] digitaldan commented on #252
Thanks @FlorianSW !   I hope we found this issue, i just deployed this and restarted services.

[2019-03-21 23:19] SpaceMaster85 commented on #234
I can confirm that the actual docker compose file from the repo is not working on an new docker installation (Ubuntu 18.04).

@lucacalcaterra Thank you for posting your solution! Your compose file is working flawless!
Maybe the documentation and the docker-compose file can be updated on the repo?

[2019-03-22 11:57] lucacalcaterra commented on #234
My docker compose file not working on your Ubuntu 18.04  ? I tested on a 18.04 clean install if i'm not wrong

[2019-03-22 18:36] SpaceMaster85 commented on #234
Sorry @lucacalcaterra I think you misunderstood me.
Your docker-compose file works without problems!

The original one in the repository from openhab-cloud is not working.

[2019-03-22 19:18] lucacalcaterra commented on #234
Ok.. probably i'll post a pull request for integrate It on the repo. Or the
admin of repo can copy It ...

Il Ven 22 Mar 2019, 19:36 SpaceMaster85 <notifications@github.com> ha
scritto:

[2019-03-22 23:49] idkpmiller commented on #248
I tried two different ways to set the timezone as per the feedback in this ticket both did not change the events short-name from being set as 'tomorrow'. I am not even sure why the code even allows an event history item to be described as tomorrow.

The URLs tried were:
https://myopenhab.org/setTimezone?tz=NZDT
https://myopenhab.org/setTimezone?tz=Pacific/Auckland

in both cases followed by a conn

[2019-03-23 00:02] idkpmiller commented on #248
I test and at 12:59 it was still displaying Tomorrow and at 13:00 this changed to 'Today'. as UTC date matched NZ date.
Screen shot was taken at 1300hrs local NZ.
<img width="911" alt="2019-03-23 (1)" src="https://user-images.githubusercontent.com/3002745/54858792-f217db80-4d6b-11e9-9742-646b85046d45.png">

[2019-03-24 18:20] sthorsen commented on #242
I have kind of the same issue, I haven't been logged in for some time. But now I can't login. I don't have '+' in my email. But I have '-'. Even after resetting my password I still get the same message: "unknown user or incorrect password"

[2019-03-30 19:47] digitaldan commented on #252
Seems to be fixed, thanks all!

[2019-03-30 19:47] #252 closed

[2019-04-09 22:44] Flole998 commented on #248
Same issue here right now

[2019-04-10 06:43] idkpmiller commented on #248
Hi,
Has this been accepted as a bug?

[2019-04-24 20:27] RyanRamchandar commented on #234
Just ran in to this same issue when trying to run the `docker-compose.yml` file from `master`.

It seems that that `mongodb` container switched from UID 0 (root) to UID 1001.
https://github.com/bitnami/bitnami-docker-mongodb/issues/106#issuecomment-412458234

Using @lucacalcaterra's compose file worked for me and I was able to `docker-compose up -d` successfully. However, I ran into #227 while reg

[2019-05-01 03:30] dastrix80 opened #254 "How to setup email function for forgot password"
Hi Guys, it appears there is documentation missing on this component if you host this code locally. editing the config.json is not sufficent in my experience as using the forgot password after editing this file doesnt not make the function work.

Can someone please explain how this is done?

Thanks

[2019-05-04 08:38] ultra-pool commented on #236
Mine just shows "~/openhab-cloud# sudo node app.js
Option polling duration is not valid. Please refer to the README."
No errors below it.
Ubuntu 16 64bit

[2019-05-05 09:07] rbi commented on #134
I had the same issue:

[code]

Enabling debug log for io.socket revealted that the client tried to access this URL:

`https://myopenhab.org/socket.io/?EIO=3&transport=polling&sid=<my_secret_sid>`

The only thing that helped was to delete my openHAB cloud account and recreate it. Before that I executed the "dangerous action" "Delete Items and Events". Maybe the issue is related to that.

[2019-05-06 11:54] isemenko commented on #212
It was very useful feature, please enable it back

[2019-05-09 04:19] ytyc2k commented on #215
I have the same problem， when I logout , I can’t login again.

[2019-05-09 04:27] ytyc2k commented on #233
Have you solved this problem?

[2019-05-09 04:27] ytyc2k commented on #242
Me too.

[2019-05-15 18:51] peter9208 commented on #208
Hi @marziman, @jarrodlucia
There was a bug in routes/account.js at line 113, though that has been fixed since I discovered (unfortunately I had no time to create a pr then).
It was fixed by @digitaldan  a few days ago.

I think that issue can be closed now.

[2019-05-15 18:53] digitaldan commented on #208
Thanks @peter9208 , i will close this issue.

[2019-05-15 18:53] #208 closed

[2019-05-16 12:30] alackmann commented on #234
I also found the dockercompose broken and updated with my own. I used Traefik as a proxy instead of nginx though as it provides Let's Encrypt certs out of the box for HTTPS.

Also - is it just me, or has the docker.io/openhab/openhabcloud-app not been rebuilt on docker hub for a year? So, it's fairly out of date now unless you build it yourself right? @marziman or @digitaldan can you setup the web

[2019-05-19 18:27] mystdeim commented on #200
I still get this error on every detele request

[2019-05-20 10:47] vbier opened #258 "SSE subscriptions are not answered before first item change"
I am trying to subscribe SSE events from openhab-cloud with my android app. It works fine for a locally running openHAB instance, but does not seem to connect when using openhab-cloud, regardless if it is installed locally or if I use myopenhab.

I can see that there is a difference in the response if I try to connect with curl. Local server replies with

    GET /rest/events?topics=smarthome/item

[2019-05-20 11:33] vbier commented on #258
I experimented a little with this. Unfortunately I have no experience with nodejs. But it looks like the headers are sent back only if there is a response body. If I add
`request.write(': ');`
after
`request.writeHead(data.responseStatusCode, data.responseStatusText, data.headers);`
in the responseHeader event handling, everything works as expected.

[2019-05-24 22:21] mvalla opened #259 "Google Assistant app icon not found"
in https://myopenhab.org/applications, after linking to Google Assistant , the app icon for Google cannot be found (Alexa is found correctly)

https://myopenhab.org/img/oauth2/google.png -> 404 Not Found

[2019-05-27 21:35] RayBa82 commented on #234
I also wrote a small docker file to build the latest version.
Its based on the ones in the repo, but the documentation is totally outdated and it doesnt run plug and play as far as I see.

This runs standalone, it checks out the master repository and builds it with npm.

The config file can be mounted with docker-compose, if needed I can also provide and updated compose-files which only opens port

[2019-05-27 22:45] digitaldan commented on #234
I can try and take a look.  I don't actually use the docker functionality, that was @marziman contribution and i have not looked at it in a long time.

[2019-05-28 22:02] alackmann commented on #234
@digitaldan if you modify the docker hub entry to rebuild based on tags, the official image will update anytime the main repo is updated.

Im sure we can then PR some updates to the existing compose file.

[2019-05-29 01:52] marziman commented on #234
I will take care for it.
I was just too busy and the images will be automatically build. Will be back on it soon.

BR Mehmet

[2019-05-29 01:53] marziman commented on #234
@alackmann,

you are correct the duckerhub images not been updated. But I will introduce a build system, where this will be done automatically.

[2019-05-29 21:41] muzicman0 opened #260 "MyOpenHab connection passing ?F instead of °F, causing errors. Works locally"
I have a working site map locally, however, when I access the BasicUI from MyOpenHab, the following items don’t work:

Setpoint item=HVAC_HeatSetPoint label=“Heat Set Point [%.1f °F]” minValue=40 maxValue=80 step=1
Setpoint item=HVAC_CoolSetPoint label=“Cool Set Point [%.1f °F]” minValue=40 maxValue=80 step=1

Basically, when I click on up or down, nothing happens. even a refresh doesn’t change it

[2019-05-30 09:32] RayBa82 opened #261 "Remove Google analytics for local instances"
My own dockerized openhabcloud instance tries to communicate with google analytics.

Please allow to turn this off via config.

[2019-06-03 07:53] RayBa82 opened #262 "API to retrieve current userID for Google assistant"
I developed a google assistant action to control openHAB based on the official Google samples and marzimans work (which works great and without the annoying bug if you execute rules), and integrated the ReportState functionality.
Google requires a userID in the responses, but right now there is no way to get the userId via API and valid token, is that right?

For a valid google assistant integrati

[2019-06-03 17:13] victoryNap commented on #227
Any update on this issue?

[2019-06-03 19:47] muzicman0 commented on #260
Same thing happens when I use the Google Assistant.  It sends {degrees} ?F, which throws an error.

[2019-06-05 09:46] RayBa82 commented on #262
I have created a PR #265 which adds a few lines to get this API

[2019-06-07 00:13] dastrix80 opened #266 "Winston not found?"
Hi Team,
Im getting this error after the installation, can someone please provide some assitance/guidance?

0| Cloud  | { Error: Cannot find module 'winston'
0| Cloud  |     at Function.Module._resolveFilename (module.js:547:15)
0| Cloud  |     at Module.Hook._require.Module.require (/usr/local/lib/node_modules/pm2/node_modules/require-in-the-middle/index.js:51:27)
0| Cloud  |     at require (inte

[2019-06-08 15:43] digitaldan commented on #262
Questions, how does the official openHAB integration with google assistant work without this ID?  Are you planning on making this available as a community project or is this private?  Or, Are you planning on introducing this as an enhancement to the existing openHAB assistant?

[2019-06-09 09:36] RayBa82 commented on #262
After some investigation this PR is obsolete, since OpenHAB has no user concept it is better to use the uuid for identification.

The official Google assistant integration does not use it at all, since it has not implemented the report state functionality, which is now a requirement to get actions deplyoed. Projects which were deplyoed before this requirement was introduced do still work, which is

[2019-06-10 12:07] kirantpatil commented on #262
Hi @RayBa82,

Good to know that finally you could do it.

We were trying to build Report State integration with current Google assistant integration and share it with community. We are struck in passing the testcases and once you share your code, then we will have a look over it to figure out why it is not possible to integrate with current code.

Awaiting your valuable guidance along with code.

[2019-06-10 12:56] RayBa82 commented on #262
My code is absolutely no magic.
It is completely based on this example https://github.com/actions-on-google/smart-home-nodejs
All calls to firestore have been replaced with calls to OpenHAB REST API thats all. Report State works out of the box. As useragentID the OpenHAB uuid is used.

Took me a few hours to get it up and running, mostly converting js to typescript.

[2019-06-10 13:13] pratapvivek007 commented on #262
@RayBa82
It's good to know that it was no big deal for you.
When I was trying , i was getting issue while testing with "Smart Home Test Suite (https://smart-home-test-suite.firebaseapp.com/)" which is for "generate the report status" and send to Google team for certification.
I would like to know that how was your report state result.?
Is it possible to share your repo link where you have updated

[2019-06-10 13:15] kirantpatil commented on #262
Here is our code and also please let us know what modification do we need to make.

[chiruopenhab.txt](https://github.com/openhab/openhab-cloud/files/3272150/chiruopenhab.txt)

Thanks,
Kiran.

[2019-06-11 10:43] kirantpatil commented on #262
Hi All,

We have done it and soon we will publish the code to community.

Thanks.

[2019-06-12 08:38] JP-Ellis opened #267 "Silent Crash with MongoDB misconfiguration"
I recently installed openhab-cloud and I'm trying to use a MongoDB Atlas cluster.

I'm using node `v7.10.1` and the output from terminal when running `app.js` is:

[code]

as for the log:

[code]

There are no other errors.

One thing that perhaps is the issue is the unusual mongoDB address.  I've tried using `[servername].gcp.mongodb.net` in the configuration file but this creates the error:
[cod

[2019-06-12 09:23] RayBa82 commented on #262
Since this topic is obsolete i will close this issue now

[2019-06-12 09:23] #262 closed

[2019-06-14 11:55] RayBa82 opened #268 "Fix npm vulnerabilities"
At the moment there are 52 vulnerabilites, this should be fixed.

[2019-06-20 18:21] muzicman0 commented on #260
Changing my item to a 'number' instead of 'number:temparature" is a work around for this.

[2019-06-21 21:43] Flole998 opened #269 "Connection is silently dropped"
I'm seeing quite often in openHAB Cloud's Webinterface messages like

Yesterday at 6:30 PM | openhab | online
-- | -- | --
Yesterday at 6:29 PM | openhab | online
Yesterday at 5:10 PM | openhab | online
Yesterday at 5:04 PM | openhab | online
Yesterday at 5:04 PM | openhab | online
Yesterday at 5:03 PM | openhab | online
Yesterday at 5:01 PM | openhab | online
Yesterday at 5:01 PM | openhab | onli

[2019-06-25 15:37] Flole998 commented on #269
It just happened again, shown as online but no connection possible anymore. Internet connection was stable the entire time.

The log only indicates
Today at 1:55 PM | openhab | online

Nothing more. Checking the local log files shows absolutely nothing that could possibly be related for this entire day. This time a restart of the bundle isn't helping either. Can someone check the logs to see what'

[2019-06-27 20:00] darkblackside commented on #227
You've to set up all your docker containers manually. Finally I made it working, but not with this offical files. These have to be updated!

[2019-06-27 21:08] victoryNap commented on #227
@darkblackside Could you commit your files to a branch?

[2019-07-02 19:27] darkblackside commented on #227
Hey,

yes I can do that for you. But beware, these files are not in use anymore and I don't know if these are the final files or if I forgot to commit some of them.

https://github.com/darkblackside/Openhab-Cloud-Config

I'm currently working on a better solution, especially for the newly published local commands for Google Home. If I write a good solution for that, I'll publish it. Stay tuned :)

[2019-07-02 19:27] #227 closed

[2019-07-05 23:01] dastrix80 opened #270 "Setting up IOS notifications with Private OH2 Cloud"
Hi All

Placed my pem files in the folder. When I send a test alert from http://localhost:3000 I see this in the log. I'm not sure what it means

0| Cloud  | Fri, 05 Jul 2019 22:35:26 GMT express deprecated res.send(status, body): Use res.status(status).send(body) instead at routes/appleRegistrationService.js:40:17
0| Cloud  | Fri, 05 Jul 2019 22:45:38 GMT express deprecated res.send(status, body)

[2019-07-07 10:23] RayBa82 opened #271 "Oauth token does not expire"
Im using the same oauth token for 4 weeks now with my private OH cloud.
This is a major security issue.

[2019-07-08 12:49] gonzechevnublit commented on #239
This isue has been resolved

[2019-07-12 19:58] Muplex commented on #212
+1
please, will help a lot.
Thank you

[2019-07-20 11:37] dyfcom opened #272 "myopenhab can't link to Google Home"
Hello,

When I try to link my openHAB to Google Home it says: "The setting could not be updated. Check your connection". Myopenhab.org Account is activated and linked to my openHAB server over the Cloud connector.

Here is link to the openHAB Forum thread:

https://community.openhab.org/t/cant-link-openhab-with-google-home/78297

[2019-07-25 12:32] dastrix80 commented on #266
Be great if someone could response to this. ive tried about 10 different things

using node version 8.10.0, but node 7 does the same thing

Installing the winston module just makes it worse!

[2019-07-26 00:03] dastrix80 opened #273 "Installation instructions do not work"
Hi Guys,

There are issues in the instructions. I installed node, using the v7.10.1 as per your recommendations and followed things line by line.

The app doesnt start. Ive tried loads of node versions, every single one has issues :/

 node

ReferenceError: app is not defined
    at repl:1:1
    at ContextifyScript.Script.runInThisContext (vm.js:23:33)
    at REPLServer.defaultEval (repl.js:339:29

[2019-07-30 10:21] matushromada commented on #134
I'm running the latest stable 2.4. I'm having the same issue:

- Logging in to the myopenhab.org shows Online status
- connecting to my openHAB instance via myopenhab.org  “gateway timeout”
- IFTTT service cannot update items

Restarting the IO Cloud service temporarily resolves the problem until next glitch on Cloud server.

[2019-08-02 02:32] andyjkr commented on #273
Seriously. I wonder if whoever wrote ANY of these instructions for any aspect of openhab understands the concept of complete step by step instructions, or if they perhaps expect a mind reading script to be running in our brains.

[2019-08-02 03:15] dastrix80 commented on #273
Yeah, the documentation leaves alot to be desired im afraid :(

[2019-08-02 12:03] RayBa82 commented on #268
Is there anything happening? Does anybody consider the security aspect of running a public available web application?

I brought the vulnerabilities down to three, take it or leave it.
I wont create a PR since there already exists a PR to update the dependecies which is ignored for months.

It runs since 2 months without problems for me, take it or leave it.
 **https://github.com/RayBa82/openhab-c

[2019-08-06 11:04] DavideCenc commented on #134
same issue on latest stable 2.4:
- myopenhab.org shows Online status
- my openhab item status not update. last update 07/27/2019
- IFTTT service cannot see expose item
also frequent connections / disconnections :
`[ERROR] [io.openhabcloud.internal.CloudClient] - Socket.IO error: {}
io.socket.engineio.client.EngineIOException: websocket error
	at io.socket.engineio.client.Transport.onError(Transpor

[2019-08-08 10:25] #266 closed

[2019-08-08 10:25] #273 closed

[2019-08-10 09:06] #272 closed

[2019-08-24 05:07] alackmann commented on #231
@DerOetzi will you pull request your change/fix? I have this issue also and would prefer not to mess about with additional CNAMEs

[2019-08-24 12:59] alackmann commented on #234
@marziman I guess you've been too busy. I've forked it for now and setup an automated PR bot to follow the official repo's master. Docker images are here https://cloud.docker.com/repository/docker/alackmann/openhab-cloud

alackmann/openhab-cloud:latest - will follow the official repo
alackmann/openhab-cloud:fork - will have an updated (working) docker-compose script with Traefik/LetsEncrypt. I'll

[2019-08-24 13:33] marziman commented on #234
Yes indeed,

I was in Saudi Arabia. I am back now and will dedicate some time for it tomorrow. I will take a look on your stuff. As mentioned i will check that the image works properly.

Thanks for being patient!
BR Mehmet

[2019-08-25 07:55] alackmann commented on #231
I've tested the above PR on my own docker based install/build and OwnTracks is now functional and correctly reporting via my self hosted OpenHAB Cloud. Previously it was broken. As the route is authenticated - I don't think CSRF check is critical.

[2019-08-25 08:16] alackmann opened #278 "New Logger setup not ideal for docker based installs"
Since PR #224 that improved the logging configurations, as the Express app doesn't log to stdout any longer, logs are not shown via the `docker logs` command for docker based installs of openhab-cloud.

Ideally there would be an additional config option to allow console to still be chosen as a transport. fyi @digitaldan

[2019-08-26 10:58] alackmann commented on #278
I have proposed a fix as included it as a part of my PR #276 - as that is required to automate docker builds anyway.

[2019-09-02 07:41] apvenkat opened #279 "nginx 404 error in AWS instance"
After properly configuring the default nginx conf file, getting 404 error....

[2019-09-07 02:17] dastrix80 opened #280 "When using mongo DB on a server with 2 x OH2 cloud instances"
Hi All

Using 2 x EC2 Cloud instances. I have moved the database off these boxes onto a seperate instance and then placed a AWS ELB infront.

When having the two EC2 boxes talk to the DB, I get errors. If I shut down 1 server, it works just fine. Any thoughts? Thanks

8080)
12:12:37.036 [ERROR] [.io.openhabcloud.internal.CloudClient] - Socket.IO error: {}
io.socket.engineio.client.EngineIOExceptio

[2019-10-13 22:47] alackmann commented on #234
@marziman did you have a chance to look at PR #276 ? Any issues or concerns?

[2019-10-30 03:30] gnalbandian commented on #212
So? Let’s re enable this please

[2019-10-30 10:18] hpuk2000 commented on #212
+ 1
It was really useful!

[2019-11-02 17:14] cee-dee opened #284 "JSON delivery by REST api for items ends prematurely"
Accessing https://myopenhab.org/api/items (after a login) from Firefox 70.0, Chrome 78.0.3904.87 and curl delivers an incomplete JSON datastream, i.e. ending on something like `... "editable":false,"type":"DateTime","name":"IcurrentDate","la`. In consequence any JSON parser will fail interpreting the response.

This problem seems to occur less if the data being transferred is reduced, i.e. if ther

[2019-11-16 14:19] richterger commented on #161
I have the same issue, the following patch solves the problem for me:

--- routes/index.js.old	2019-11-16 15:16:27.410314578 +0100
+++ routes/index.js	2019-11-16 15:14:31.760354843 +0100
@@ -367,7 +367,8 @@
     delete requestHeaders['x-forwarded-for'];
     delete requestHeaders['x-forwarded-proto'];
     delete requestHeaders['connection'];
-    requestHeaders['host'] = req.headers.host || syste

[2019-12-03 07:21] matushromada commented on #212
It has been a year since this is open. As there shouldn’t be any development involved, I’m guessing it’s quite quick fix.
Thanks in advance.

[2019-12-20 17:23] delid4ve opened #286 "[Feature Request] - standard Url authentication"
Is there any chance we can implement username/password in the url for myopenhab.org?
Such as https://myopenhab.org/rest/items/ItemName?auth_token=base64username:password

Most new systems will now not accept username:password@url as a url anymore, although the cloud does accept it.
As long as both endpoints are https then the credentials would not be compromised either

This would be greatly benef

[2019-12-23 12:23] kirantpatil commented on #164
@Isafelix75, Could you please share your ssh solution ?

[2019-12-23 12:39] lucacalcaterra commented on #164
I use wetty  As docker container..

[2019-12-23 12:53] kirantpatil commented on #164
Cool, I would like to remote ssh access from myopenhab user account.

Please throw some light on it.

[2020-01-03 02:25] alackmann commented on #234
@marziman any chance you might look at that PR this year?

Anyone else, if you need an updated, auto build version of this repo, I've set one up here: https://hub.docker.com/r/alackmann/openhab-cloud

Use:
* `latest` for the official repo
* `fork` if you want my changes (https/Lets Encrypt, config via volume, fixed logging for Docker instances)

[2020-01-03 07:18] kirantpatil commented on #164
Finally, we found a solution to login to remote system using reverse ssh using central server rather openhab-cloud.

https://bitbucket.org/marcpearson/sshmein/wiki/Home

[2020-01-03 07:18] #164 closed

[2020-01-04 12:14] anoff commented on #234
@alackmann thanks for your effort in providing this fix. Stunned that after a year this issue is still unresolved even though a solution is available 😓

I can confirm that @alackmann's fork works

[2020-01-04 21:09] digitaldan commented on #234
@marziman is this something you can look at?  I am fine with #276 , although i have not tried it.

[2020-01-06 01:03] alackmann commented on #268
I care. I saw your update and have applied it to my fork and it's been running fine on my personal server for My Openhab. I expanded on yours and fixed the issues with `express-form` and `email-templates` as well.

When I'm comfortable it's working for me, I'll PR it - but I'm also not hopeful. Not many PRs seem to be getting accepted into the project as a whole.

FWIW my changes are here for now

[2020-01-14 10:05] lsafelix75 opened #287 "server address undefined:undefined my address undefined:undefined"
Getting buch of undefined and then connection drops on Openhab 2.5 instance.

[2020-01-16 17:53] #234 closed

[2020-01-16 17:54] digitaldan commented on #234
I have merged #276 , thanks for the contribution and apologies for not reviewing sooner.

[2020-01-16 21:59] alackmann commented on #234
Awesome @digitaldan. Fyi that also fixed #278 so you can close that issue as well.

Now that's in master, it would be ideal if someone with rights updates the DockerHub for OpenHAB Cloud (https://hub.docker.com/r/openhab/openhabcloud-app) to autobuild `master` as the `latest` tag. As-is, this is currently 2 years old and very behind master.

[2020-01-18 01:08] alackmann commented on #287
I get the `undefined:undefined` message in my logs on startup too - but it doesn't seem to affect operation at all. How recent is your version of OpenHAB Cloud?

[2020-03-04 13:51] lsafelix75 commented on #287
Downloaded on January via git

[2020-03-04 13:56] lsafelix75 commented on #287
Now all requests from openhab 2.5.x instances get disconnected from openhabcloud every 10 secs. I am not sure why. On Openhab-Cloud plugin, error is triggered below:

[2020-03-06 23:56] alackmann commented on #287
I'm running 2.5.1 (via apt-get) and don't have any issues with OpenHAB Cloud. Are you seeing this error logged in OpenHAB or in openhab-cloud?

[2020-03-09 14:15] lsafelix75 commented on #287
This problem only occurs on sel-hosted openhabcloud with latest code. It does not occur on myopenhab.org

[2020-03-09 20:51] alackmann commented on #287
Yes, that's what I'm doing too. Fwiw I'm using the docker container.

[2020-03-10 16:02] lsafelix75 commented on #236
I am seeing the following messages though with latest pull from git:

[2020-03-11 22:39] mapled commented on #227
I have the same issue. It appears randomly. Sometimes different browsers have different results at the same time. Maybe it is a client issue?
My app log from the container says
[code]
Output from browser:

[code]

Any ideas how to solve this?
Thank you

[2020-03-13 05:06] lsafelix75 commented on #287
OK I found out tht socket.io is a culprit as the disconnection comes from socket.io from openhab cloud app.js due to transport error which I hv no idea what it means.

[2020-03-16 23:56] lsafelix75 commented on #287
This error does not affect openhab cloud functionality.

[2020-03-16 23:56] #287 closed

[2020-03-18 04:09] iPavel89-work opened #293 "How to configurate notifications to android and ios apps?"
Hello. I configured my own openhab cloud server. but now it doesn’t send push notifications to android app. If i connect to https://myopenhab.org it send. but in my server doesn’t work( what should i configurate that it begin to work? Sorry for my english.I should to write something in config.json?
and what should I do to configurate ios notification?

[2020-03-22 09:09] PaulSinnema commented on #41
This issue is closed but it still happening to me. Must be something else than the cache then?

[2020-03-22 09:17] #35 closed

[2020-03-22 09:21] marziman commented on #234
I will take a look for that @digitaldan ,
sorry I was a bit busy with other stuff.
I can also update the docker hub images. I think I wil add later today a job to build them automatically.

[2020-03-22 14:28] marziman commented on #278
Closing this, I am adding auto-build to dockerhub for master and tag latest.

[2020-03-22 14:28] #278 closed

[2020-03-23 08:35] marziman commented on #278
Build is now automated and any push to master will trigger a new image creation in dockerhub.

Closing this.

[2020-03-26 09:07] dastrix80 commented on #258
Hi teams, has there been any fix for this? this still occurs.

[2020-03-26 21:23] dastrix80 opened #294 "SSE events dont work correctly with myopenhab or openhab cloud"
As per vbiers bug, which was closed.

am trying to subscribe SSE events from openhab-cloud with my (HabPanelViewer) android app. It works fine for a locally running openHAB instance, but does not seem to connect when using openhab-cloud, regardless if it is installed locally or if I use myopenhab.

I can see that there is a difference in the response if I try to connect with curl. Local server rep

[2020-04-12 05:38] jeepman32 opened #295 "Kubernetes deployment"
G'day!

I've tried deploying to kubernetes using the instructions at ./deployment/kubernetes/readme.MD, but I've had a few issues relating to `config.json`. I followed the deployment instructions, providing the context of my remote kubernetes cluster on DigitalOcean, using the `--context [...]` flag. I editied the deployment and undeployment scripts and provided this flag to all commands run. Depl

[2020-04-12 05:44] jeepman32 commented on #295
Additonal notes!

I've managed to insert a copy of `config-production.json` as a volume secret, encoded as an opaque json string. Now I've got a new error:

[code]

[2020-04-12 12:01] jeepman32 commented on #295
I've since discovered that the latest docker image seems to share the same config.json missing issue.

[2020-04-12 12:12] marziman commented on #295
Hello thanks for checking the k8s deployment. That will be changed and is pretty old. We re currently planning to update this stuffs. I will soon get back with an update

[2020-04-12 12:14] marziman commented on #295
You can def. be involved here, if you re willing. We just are trying to figure out how the new k8s deployment shall look like.
It will be most likely helm based.

[2020-04-13 07:45] jeepman32 commented on #295
Hey marziman, I'd love to be involved! I'm no expert on k8s in particular but after reading some of the documentation, it doesn't seem to hard. I'm keen to start soon as I've still not managed to get my instance of openhab-cloud running, and I'd prefer to do it once, the right way!

[2020-04-20 00:44] dastrix80 commented on #294
Anyone???

[2020-04-20 03:46] digitaldan commented on #294
Hi we are currently looking to swap out nginx for another front end server as part of our move to kubernetes, i'm not sure if this will help, but i probably won't get a chance to debug this until that happens as there will be a little rework to how we proxy connections back.  This work is currently in progress, but i don't have a good eta yet.   I will however try to test this as part of this effo

[2020-04-20 04:12] dastrix80 commented on #294
thanks digitaldan, that would be appreciated. Does this mean this is an issue with nginx/front end?

[2020-04-20 04:18] digitaldan commented on #294
Maybe, probably not, but i need to rework some of the proxy code as part of this move, and this move is taking all my time right now, but since i'm in that part of the code, i will take a look as part of the effort.

[2020-04-20 04:21] digitaldan commented on #295
Hi @jeepman32 thanks for the offer to help!   We have an initial buildout working, and are just cleaning it up into helm charts to start, hopefully we can have something pushed this week to the repo to test with.

[2020-04-20 06:41] dastrix80 commented on #294
Thanks digitaldan, it would be great to have a solution! I appreciate you looking at it.

[2020-04-22 14:16] joalmjoalm commented on #295
can you also update the version in the package.json. When building my own docker image I get plenty of warnings of using outdated versions.

[2020-04-22 14:18] joalmjoalm commented on #295
Also prepare for K8s v 16+ that has changed deployments from extensions/v1beta... to apps/v1. I came as long as above on k8s v 17.4 by changing deployments to apps/v1.

[2020-04-24 06:18] iPavel89-work commented on #293
https://community.openhab.org/t/tutorial-own-openhab-cloud-and-gcm-notifications-firebase/38287

[2020-04-28 04:06] #293 closed

[2020-04-28 04:06] iPavel89-work commented on #293
solved

[2020-04-29 05:57] iPavel89-work commented on #239
How did you solve issue?

[2020-05-04 01:37] dastrix80 commented on #294
Gday @digitaldan  any luck in solving mate?

[2020-05-05 14:21] Bean900 opened #296 "Network internet ... could not be found"
Hey :)

I switched to a new server host and tried to set up my working Openhab cloud with the Docker Compose file. Unfortunately I am now getting the following error:
[code]
Has something changed in Docker so that there is no "Internet" network or is it due to the new operating system (debian)?

[2020-05-09 21:03] Peter0x48 commented on #268
Wow, much progress here...

[2020-05-24 14:44] kaikreuzer opened #297 "openHAB 3 instances are not recognized"
Just connected my openHAB 3 test instance to myopenHAB and noticed that it is not recognized, since it does not have the openHAB 2 dashboard anymore:

<img width="760" alt="Bildschirmfoto 2020-05-24 um 16 38 58" src="https://user-images.githubusercontent.com/3244965/82756873-18586180-9ddd-11ea-95f3-f8e636b7f9ec.png">

@digitaldan Could you maybe add support for openHAB 3? Would be awesome 😎.

[2020-05-24 15:29] digitaldan commented on #297
yep, i noticed that too, i'll take a look today, should be a easy fix.  FYI last time i checked, proxying still worked if you went to home.myopenhab.org or myopenhab.org/rest for example.   I have not tried since we implemented the core oauth layer however.

[2020-05-24 15:33] kaikreuzer commented on #297
Great, thanks!
Yes, proxying worked, but interestingly, any POST request to items was answered with a 404. Might be due to the new oauth, but I assume that needs to be handled in the cloud-connector bundle, so I didn't mention it here.

Btw, if you are touching openhab-cloud: Could you maybe also update the copyright footer from 2018 to 2020?

[2020-05-24 15:54] digitaldan commented on #297
Yep, i'll just make that automatic

[2020-05-24 16:44] digitaldan commented on #297
See https://github.com/openhab/openhab-cloud/pull/298

This is only a change to the website, so i can deploy without interrupting connections.  I'll take a look at that tonight.  This also is motivating me to get my butt in gear and finish the k8s deployment so this is push button!

[2020-06-19 16:02] Bean900 commented on #296
Tried it again today and it works. Unfortunately I can not say what it was.

[2020-06-19 16:02] #296 closed

[2020-06-26 21:43] mstormi opened #303 "update myopenhab.org"
Hi,
got myself online to myopenhab.org and noticed the website is a little outdated.
Some old pictures to lack the new logo, one mention of openHAB 1.8 and OH2 to "require a recent snapshot".

On registering, help texts suggest where to get UUID and secret from but that does not match what it is in OH2.5 now and what and the docs at https://www.openhab.org/addons/integrations/openhabcloud/ say.

S

[2020-06-26 22:30] broliyoung commented on #212
+1

[2020-06-28 07:29] dastrix80 commented on #294
@digitaldan  have you managed to resolve this issue? cheers

[2020-06-28 14:48] digitaldan commented on #294
I have not completed the move to a new proxy in production, and i don't have an ETA.  I will make an announcement on the forums when i do

[2020-07-27 13:13] PaulHam211 commented on #212
+1

[2020-08-10 21:24] kaikreuzer commented on #297
@digitaldan Has #298 ever been deployed? I just upgraded my production system to openHAB 3 and now cannot use myopenHAB anymore :-(
It would be awesome if you could do the deployment very soon, thx!

[2020-08-11 09:00] combatistor opened #304 "No icons on My Applications (own hosted cloud)"
Hi, I wanted to know if it was possible to show what kind of applications registered in my own cloud.
This is what I get:
![OH-cloud](https://user-images.githubusercontent.com/6489301/89877744-7ede6600-dbfb-11ea-9c35-419dc6467d7f.png)
When I use the developper tools on the console I get a
`Failed to load resource: the server responded with a status of 403 (Forbidden)` on https://myOwnOHCloud/img/o

[2020-08-14 23:59] digitaldan commented on #297
For some reason this did not deploy correctly, and i had to roll it back (then was distracted and forgot!) .  I am working on cloud stuff this weekend and will see if i  can chase down why this happened.  Hopefully it's something very small.

[2020-08-16 10:15] 99Lazarus99 commented on #212
+1

[2020-08-16 12:04] alackmann opened #305 "Docker version fails silently when using Traefik 2.2.x"
I've attempted to update my self hosted Openhab Cloud to run behind a Traefik 2.x (`2.2.7` specifically) after running it successfully using Traefik 1.7.x for some time. I run a bunch of other services and 2.x is much nicer to work with and 1.7.x was going to be EOL at the end of this year (I see they've extended this by a year recently).

After doing so and getting other services working, I've ru

[2020-08-24 15:20] andrejsstepanovs commented on #295
How much longer? This issue is still present in latest image. And there is no other image available in hub.docker.io except :latest

[2020-09-07 22:31] digitaldan commented on #297
I deployed this on Friday, basic poxing works.  What does not work however is using the new authentication in OH3.  I have 2 PR's open to fix this , first is a change to the cloud connector to not try and follow redirects by default, we need 302's to go back to the calling client , see https://github.com/openhab/openhab-addons/pull/8429 .  The second is a change to our cloud code to not use 302's

[2020-09-07 22:33] digitaldan commented on #297
And its just a funny coincidence that the fix is changing the response code to a 307 AND the PR is number #307 :-)

[2020-09-08 22:31] dastrix80 opened #308 "Private instance of Cloud , been working for over 12 months njow Socket.IO errors"
Hi @digitaldan I know this is discussed ALOT on the forums for myopenhab.org yet theres no real clue as to what the fix has been

I'm now seeing these errors, my instance is online, I can login to the private cloud just fine and everything works EXCEPT when a sendBroadcastNotification is sent to Firebase, the Cloud connect restarts and NGINX indicates socket.IO errors. Can you explain what the fix

[2020-09-11 01:01] digitaldan commented on #297
This has been deployed, please ensure you have the latest nightly of OH 3.0 before testing.

[2020-09-11 01:01] #297 closed

[2020-09-14 20:17] candiesdoodle opened #313 "unable to access OH3 dashboard"
Hi.
I understand that OH3 is still in snapshot.. but still wanted to post this regarding my own OH cloud deployment.

Where it says "Your openHAB is online. Click here to access your openHAB's dashboard"

**from myopenhab.org:**
i can access my local OH3 dashboard - i.e., there is a link to "home.myopenhab.org" which correctly connects and accesses by local OH server.
Insepctig the page:
`Your ope

[2020-09-15 04:13] digitaldan commented on #313
oh3 UI uses the root path "/" so you can not proxy that without a separate host that only serves proxy requests.  You will need to setup a new host , even if that is a CNAME to the main one, with the name 'home', which the cloud code will treat as a pure proxy request.

For example if your OHC host is cloud.mydomain.com you can setup a CNAME of home.cloud.mydomain.com to point to  cloud.mydomain.c

[2020-09-15 04:13] #313 closed

[2020-09-15 08:21] candiesdoodle commented on #313
Thank you very much. This worked! The `proxyHost` was the key. I'll post a detailed write up. Here is my config.json for reference (the initial part)
[code]

[2020-09-19 22:10] dual-oo opened #314 "npm failed on ubuntu 20.04 vps"
Hi Guys,

I've got [this](https://pastebin.com/uK0s51vQ) error on the installation step "npm install"

- VPS
- Ubuntu 20.04
- dependencies installed: build-essential redis-server mongodb nginx python (python-is-python2) nodejd npm

[2020-09-22 20:51] mmastrorilli commented on #295
Hi. any news or workaround about this issue?

[2020-09-28 14:57] marziman commented on #295
Hello all,
i will take a look into this and try to update the images.
This shall from now on also be done automatically.
@joalmjoalm yes it shall be compatible with K8s 1.18+. The version you have used is ultra old.

I am planning to bring it to the newest k8s version and share it with you guys. Hope to get it to the weekend.

[2020-10-04 21:56] mmastrorilli commented on #295
Please consider also that latest mongodb 4.2 version deprecates --smallfiles arg. You should remove it from yml.
I'm still struggling on how to solve config.json missing issue.

[2020-10-06 09:00] mmastrorilli commented on #295
Hi all,
I was able to successfully deploy on minikube with this following manifest. Kubernetes version v1.19.2
In order to solve the issue of missing config.json I had to mount it on a volume.
In case of minikube VM i mounted host directory on minikube with

`minikube mount "<host local path whith config.json.template>:/data/openhabcloud-config"`

I changed all extensions/v1beta to apps/v1 adding

[2020-10-10 20:35] morph166955 commented on #314
I have this same issue.

make: *** [validation.target.mk:104: Release/obj.target/validation/src/validation.o] Error 1
make: Leaving directory '/root/openhab-cloud/node_modules/utf-8-validate/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/share/nodejs/node-gyp/lib/build.js:194:23)
gyp ERR! stack     at ChildProcess.e

[2020-10-11 06:06] razrdog opened #316 "npm install failing on AWS Linux 2"
npm install is blowing up with the following errors:

[code]

Any guidance would be greatly appreciated!

[2020-10-12 21:00] Tukks opened #317 "Alexa discover Doesn't work OH3"
Hello,
When I try do discover my items with Alexa here what i have :
22:56:15.524 [WARN ] [.io.openhabcloud.internal.CloudClient] - Jetty request 33219986 failed: HTTP protocol violation: Authentication challenge without WWW-Authenticate header
22:56:15.525 [WARN ] [.io.openhabcloud.internal.CloudClient] - Response Failure: HTTP protocol violation: Authentication challenge without WWW-Authenticate

[2020-10-12 21:49] morph166955 commented on #314
I've now tested this on Ubuntu 16, 18, and 20.  All fail for different reasons.  bcrypt seems to work on 18 and 16, but fail with the following errors:

npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-metadata.js:31:3)
npm ERR! typeerror     at fetchPackageMetadata (/usr/share/npm/lib/fetch-package-metadata.js:51:22

[2020-10-15 01:12] MrGibbage opened #318 "Getting started"
I think I followed the instructions, and up to the redis-cli ping I got the PONG reply, so I think I did everything OK up to that point, but who knows. I copied the config-production.json -> config.json but I only have changed the host parameter. I tried localhost and 0.0.0.0. According to the instructions, after running sudo node app.js I should be able to go to localhost:3000 (which seemed stran

[2020-10-17 20:37] Tukks commented on #317
Working know, closing

[2020-10-17 20:37] #317 closed

[2020-10-18 09:41] Tukks opened #319 "PWA not working from openhab cloud"
if I install the PWA from my ip adress like 192.168.1.X on my Android phone, everything work great. (In chrome, add to home screen)
If I install it with https://home.myopenhab.org URL, the PWA work the first time and when I close it and reopend it, he don’t work anymore.
Here the chrome dev tool debug result for the PWA :
![image - 2020-10-18T113952.134.png](https://user-images.githubusercontent.c

[2020-10-18 13:22] Tukks commented on #319
Update :
 Work great on firefox android beta

[2020-10-18 22:09] morph166955 commented on #314
Apparently the nodejs version HAS to be 7.10.1.  Instead of using APT to install nodejs, go to https://nodejs.org/dist/v7.10.1/ and pull the gz down.  You are going to have to manually install it into /usr.  Then npm install works.

[2020-10-18 22:29] morph166955 commented on #314
You will also need to run:

npm install bcrypt bcryptjs@^2.4.3 qunitjs@^2.0.0
npm install time node-time

That seemed to fix a few things that didn't work properly after npm install runs.

[2020-10-18 22:34] morph166955 commented on #314
Also run "mongo" and then run:

db.createUser(
  {
    user: "openhab",
    pwd: "openhab",
    roles: [
       { role: "readWrite", db: "openhab" }
    ]
  }
)

[2020-10-28 23:03] trainormg commented on #212
+1

[2020-10-29 07:21] matushromada commented on #212
@digitaldan Hello, may you please have a look at this?

[2020-11-06 17:53] DejanBukovec opened #320 "openHAB Cloud & OH 3.0.0.M2 & Android App"
I have issues with combination of android app, OH 3.0.0M2 and latest OpenHab Cloud. As Im debug is problem with comunication beetween OH3 server and Cloud server...
In android app Local connection work as must and without issues but when I try connect by Remote server option in android app over Cloud server I can't access to sitemaps.
App normally register to "Firebase Cloud Messaging" but hen try

[2020-11-23 15:43] OsBenji opened #321 "Errors will running npm install"
When I run NPM install, I get a lot of errors and the Cloud is not working.
I'm running a Ubuntu 18.04 Minimal installation on a VPS with 1vCore and 2 GB RAM.

root@osbenji:~/openhab-cloud# npm install
npm WARN deprecated bcrypt@1.0.2: versions < v5.0.0 do not handle NUL in passwords properly

make: Entering directory '/root/openhab-cloud/node_modules/bufferutil/build'
  CXX(target) Release/obj.ta

[2020-12-09 11:10] joshuakoh1 commented on #236
How did you solve this?

[2020-12-25 18:40] Ruben1-dot opened #323 "noob question: node 6382 (node:6382) Warning: Accessing non-existent property '... of module exports inside circular dependency ..."
Hi,

when I try to install, I get following error after 'sudo node app.js'

Any ideas? i am a newbie, thanks in advance

(node:6382) Warning: Accessing non-existent property 'count' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
(node:6382) Warning: Accessing non-existent property 'findOne' of module exports inside circular depe

[2020-12-27 21:43] RayBa82 opened #324 "OH3: API calls with valid oauth token for cloud give 401"
API calls for urls like
`https://myopenhab.org/rest/uuid`
with a valid token for the cloud result in a 401 json response
`{
    "error": {
        "message": "Authentication required",
        "http-code": 401
    }
}`

calls for
`https://myopenhab.org/rest/items`

do still work like before.

[2020-12-28 03:44] digitaldan commented on #324
This is not myopenhab, but your OH3 instance returning this error.  Authentication was added too many endpoints in OH3, including this one.

[2020-12-28 03:44] #324 closed

[2020-12-28 08:19] RayBa82 commented on #324
So it is just not possible to use those endpoints anymore? This is a serious design flaw

[2020-12-28 13:09] yjcrocks commented on #295
As the problem seems somewhat related, I leave a quick note here (based on my experience with docker-compose deployment).

- The problem of missing `config.json` seems to originate from the change of the base docker image, to the alpine version.
- The alpine version does not contain `envsubst` binary. However, this binary is being used in `run-app.sh`, the default `CMD` for the Dockerfile. Thus, `

[2020-12-28 15:28] digitaldan commented on #324
Those endpoints are authenticated as you mention, and are useable through the cloud service, this is how the new UI is able to work through the cloud service.

OH3 can optionally use a separate header for just this use case, see  https://github.com/openhab/openhab-webui/pull/328 , set the `X-OPENHAB-TOKEN` header instead of the `Authorization` header

[2020-12-28 15:49] RayBa82 commented on #324
Setting the oauth token additionally in the X-OPENHAB-TOKEN header does not work either.
This gives:
`{
    "error": {
        "message": "Invalid credentials",
        "http-code": 401
    }
}`

The Authentication header is required to authorize with oh cloud. So it is mandatory and must be present.

I have no clue how to call the API endpoints now

[2020-12-28 16:29] digitaldan commented on #324
without more detail i can't really help.  If you load up the OH3 UI through the cloud service, you can see the headers it's sending and how it's able to reach those endpoints.

[2020-12-29 09:07] RayBa82 commented on #324
I am using my own implementation of the google assistant integration.
Scenario: Google is authorized via OAuth authorization code flow and gets an authentication token from openhabcloud.
Google uses this token to send commands and queries to my google assistant implementation. Then my implementation uses this token to call the REST interface of the openhabcloud instance.

That means I only have th

[2020-12-30 04:27] lsafelix75 opened #325 "Accessing OH3 Instance's "Dashboard" or "Front Page" via Private OHCloud"
Hi,

I looked into /views/index.ejs on line 144:
`  Your openHAB is online. <a href="<%=proxyUrl%>/start/index">Click here to access your openHAB's dashboard</a>`
Is this still valid for OH3? I can't seem to get it working. Thanks

[2020-12-30 05:21] #325 closed

[2020-12-30 05:21] lsafelix75 commented on #325
My bad .. there is a checking on Openhabmajorversion

[2021-01-02 17:45] lsafelix75 opened #326 "Repeated "Sign-In" Request When Access OH3 Instances on Private Cloud Instance"
Hi,

I believe this has been discussed extensively, which includes this link `[https://github.com/openhab/openhab-webui/pull/328](https://github.com/openhab/openhab-webui/pull/328)`. However, whenever i click on Online's OH3 instance (https://home.x.com), i am always greeted with login box (OpenHABClound credential). Are the anything settings that we need to configure in NGINX configuration like C

[2021-01-07 14:22] giddel commented on #321
Same here.
Debian 10 with node v12.20.1 and npm 6.14.10

[2021-01-07 15:07] giddel commented on #314
... and be aware that after copy `/usr/bin/npm` is still a symlink to `../lib/node_modules/npm/bin/npm-cli.js`
... else you get only `Error: Cannot find module '../lib/utils/unsupported.js'` when calling `npm`

[2021-01-07 17:39] digitaldan commented on #321
Right now we are running on a node:8-alpine docker  image, so i have not tried 12 with debian 10.  the bcrypt module is not compiling which is the issue , we use this  native version of bcypt in production for speed purposes (pure js one was terribly slow) .  It may be that you need a newer version of bcrypt for that version of node ? You can also swap out these for the non native version, speed i

[2021-01-08 08:17] giddel commented on #321
As described [here](https://github.com/openhab/openhab-cloud/issues/314)  the Openhabcloud works with npm v7.0.1
After following the instructions in this issue it works now fine for me.

... until I've checked I need an AWS account and lambda functions for using my own Openhabcloud with Alexa ... damn!

[2021-01-13 14:46] domotica-undici commented on #326
same problem here. home.domoticaundici.it and cloud.domoticaundici.it are on the same server. i also tried with home.cloud.domoticaundici.it but nothing
don't know how to upgrade from cloud.X to home.X

[2021-01-21 15:26] vshaev commented on #313
Hello,
Sorry, but my knowledge is not enough to apply your recommendations.
Adding "proxyHost": "home.openhab.mydomain.com" to config.json does not solve the problem.
Could you describe all the necessary steps step by step? At least which configuration files to make changes.

[2021-02-09 02:55] candiesdoodle opened #328 "415 error while trying to execute a rule manually"
On myopenhab.org
While trying to trigger a rule manually from UI by clicking the play button, there is an error "Error while running the rule: Ok"
![Screenshot_20210209-075850328 (1)](https://user-images.githubusercontent.com/20420013/107308651-0293e500-6aaf-11eb-88bc-9832cf65c0d0.jpg)
![Screenshot_20210209-081723662 (1)](https://user-images.githubusercontent.com/20420013/107308800-4a1a7100-6aaf-1

[2021-02-10 06:17] Xoma163 commented on #321
Same issue
$ node --version
v12.20.1
$ npm --version
7.5.3

[2021-02-10 16:28] candiesdoodle commented on #328
Hello, any feedback on this
Thanks

[2021-02-12 16:44] lsafelix75 commented on #326
I believe the code is broken or not explained properly. I traced the code. The only place to redirect to 307 happens on route/index.ejs which will not be called at all if click on open OH3 dashboard via home.yourhost.com link. By clicking this link it will route you to an homepage and asking for username password

[2021-02-13 15:39] lsafelix75 opened #330 "Returned Rest response URL does not include port number"
Hi,

The following is the log of remoteopenhab binding. As you can see, the replied rest response's url reference truncate port number. This could be a problem if openhabcloud private instance doesn't use standard port.

951 [OH-safeCall-1] DEBUG o.o.b.r.i.h.RemoteopenhabBridgeHandler:127 - Initializing remote openHAB handler for bridge remoteopenhab:server:oh3 14:53:52.954 [OH-safeCall-1] DEBUG o

[2021-02-14 05:33] lsafelix75 commented on #330
I found the culprit. Please review this line and possible replace it with X-Forward-Host in routes/index.js line 380. This line may cause issue if the openhabcloud's serving port is not on standard HTTP/80 and HTTPS/443 ports
[code]

[2021-02-14 09:13] lsafelix75 commented on #326
BEWARE... there are many places are hardcoded to use home.YourDomain.com ... you change the prefix to something else then you will need to seach the code and change it. Otherwise, it won't work and your are rereouted to login page when you click on Access Remote Dashboard. Good luck

[2021-02-14 10:04] domotica-undici commented on #326
Thank you so muchIl 14 feb 2021 10:13, Felix Lo <notifications@github.com> ha scritto:
BEWARE... there are many places are hardcoded to use home.YourDomain.com ... you change the prefix to something else then you will need to seach the code and change it. Otherwise, it won't work and your are rereouted to login page when you click on Access Remote Dashboard. Good luck

—You are receiving this beca

[2021-02-16 18:28] fullmoonguru commented on #212
Would really like this as well!

[2021-02-21 23:38] rlodge commented on #313
@candiesdoodle

Did you ever write something up more detailed than this?  I can get the dashboard link to point to the cname, but when I click on it I get a blank screen and errors like it's trying to load the openhab page again.  I've tried various resources but can't find something definitive about how to make it work (or if it works).

[2021-02-22 23:03] lsafelix75 commented on #330
https://github.com/openhab/openhab-cloud/pull/331

[2021-02-24 20:24] Tiller opened #332 "Proxy domain should not be hardcoded to "home." or "remote.""
In `app.js`, to detect whether or not the application should proxify te request to the remote openhab, it looks at the domain name, and check if it starts with "home." or "remote.".

That a bad practice imho. It should simply check the domain against the proxyHost set in the configuration. Or at the very least, keep the check with "home." and "remote.", but include a check with the configured prox

[2021-02-27 01:51] lsafelix75 commented on #332
https://github.com/openhab/openhab-cloud/issues/330

[2021-02-27 07:10] Tiller commented on #332
Not the same issue, why referencing it here?

[2021-02-28 00:14] TheTrueRandom opened #333 "Sign in to openhab ui from openhabcloud not possible (Authorization header clash?)"
When connecting an openhab 3.0.1 instance to a self hosted or myopenhab.org cloud instance and accessing the openhab dashboard through the 'home.' proxy, it is not possible to sign in as an administrator on the openhab ui. I think this comes from an authorization header clash. When opening the openhab ui locally and signing in, every request contains an authorization header with a bearer token. Ho

[2021-02-28 10:58] lsafelix75 commented on #333
https://github.com/openhab/openhab-webui/pull/908
This could be another patch that you need.

[2021-03-09 11:59] ideaforno10 opened #337 "BUG: INTERNAL SERVER ERROR when pairing alexa skill"
News openhab 3 install. Getting an internal server error on myopenhab when trying to enable alexa binding on amazon.com.

[2021-03-09 16:25] ideaforno10 commented on #337
More reports of this service being down on the discussion board. Please see:

https://community.openhab.org/t/openhab-alexa-skill-internal-server-error/118650

On Tue, 9 Mar 2021 at 15:16, Dan Cunningham <notifications@github.com>
wrote:

[2021-03-09 16:45] digitaldan commented on #337
Thanks

[2021-03-09 18:05] digitaldan commented on #337
Fixed, thanks!

[2021-03-09 18:05] #337 closed

[2021-03-16 12:28] mikaelgu80 opened #339 "Extended characters (e.g. Å, Ä, °) via myopenhab"
When creating things, channels and items in OpenHAB 3.0.1 main UI via myopenhab extended characters like ä,ö or ° get replaced with "?" when saving the configuration. Editing locally they work perfectly.

[2021-04-03 20:14] morph166955 opened #342 "service not starting - apn related?"
When moving from S2300 to S2306 I had some issues with my cloud connector (connecting locally was just fine) and the basicui.  I attempted to update to see if it was due to my cloud connector being old.  New install is now not coming up.  I'm on Ubuntu 16 with Node 14.  This is all I get:

/opt/openhab-cloud# node app.js
{"errno":-2,"syscall":"open","code":"ENOENT","path":"certs/aps/AuthKey.p8"}
(

[2021-04-03 20:21] morph166955 commented on #342
Others seem to be having this issue as well...

https://community.openhab.org/t/setup-your-own-openhab-cloud-myopenhab-server-instance/24716

[2021-04-03 21:26] #342 closed

[2021-04-03 22:25] iwilliamson commented on #328
I too have this problem but seem to have narrowed it down a bit.

1. It happens when I have an overview cell that triggers a rule on click
2. It DOESN'T happen when I'm directly connected to my OpenHAB instance
3. It only happens when I'm connected through a cloud instance (either myopenhab.org or my personal cloud server)

The error itself seems to be generated because a REST POST request is made

[2021-04-04 18:15] morph166955 opened #344 "BasicUI Does not render correctly after S2300."
When I moved from S2300 to S2304 something broke in respect to the way the cloud connector is pulling the basicui through.  It renders no issues when connecting locally directly to the OH3 server.  I have updated openhab-cloud to the most recent commit and it does not help anything.  To note, it passes through to the openhab app with no issues.  This is only when trying to pull it up through the c